<!DOCTYPE html>
<html lang="en">
<head>
    <include file='Common:header'/>
    <link rel="stylesheet" href="__PUBLIC__/Home/static/css/pc.css">
</head>
<body>
<!--头部注册栏开始-->
<include file='Common:head_bar'/>
<!--头部注册栏结束-->
<!--菜单栏开始-->
<include file='Common:ucenter_nav'/>
<!--菜单栏end-->
<!--主体内容更开始-->
<main class="pc-index">
    <div class="pc-bodys">
        <div class="pc-b bread-tag">
            <img src="__PUBLIC__/Home/static/img/dengpao.png" alt="">您现在的位置是：<a href="{:U('Home/Index/index')}">首页</a><span>></span><a href="">招贤纳士</a>
        </div>
        <div class="pc-container">
            <!--左侧菜单开始-->
            <include file='lead_menu'/>
            <!--左侧菜单结束-->
            <!--右侧内容开始-->
            <div class="pc-recruit" style="display: block">
                <!--<div class="recruitpic">-->
                    <!--<div>市场</div>-->
                    <!--<p>MARKET</p>-->
                <!--</div>-->

                <!--<div class="retle">-->
                    <!--<div class="recruittitle">-->
                        <!--<section></section>-->
                        <!--<p>媒介专员</p>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">职责：</div>-->
                        <!--<div>-->
                            <!--<p>1、品牌宣传：负责制定APP的PR计划，开发媒体资源，执行落实媒介宣传，并定期进行ASO优化； </p>-->
                            <!--<p>2、自媒体运营：负责运营、管理和维护APP的自媒体矩阵，包括微博、微信以及贴吧等； </p>-->
                            <!--<p>3、用户运营：负责建立、运营和维护玩家宝用户Q群，制定管理规则和Q群等级制度，策划活动活跃Q群用户。 </p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">要求：</div>-->
                        <!--<div>-->
                            <!--<p>1、一年以上新闻传播工作经验； </p>-->
                            <!--<p>2、具备有APP或手游推广经验经验优先； </p>-->
                            <!--<p>3、善于沟通，具备良好的团队协作能力； </p>-->
                            <!--<p>4、一定的数据分析能力，能熟练应用excel,ppt等办公软件； 。 </p>-->
                            <!--<p>5、有一定的ps基础，能完成简易的图片处理； </p>-->
                            <!--<p>6、本科以上学历，熟悉互联网及手机游戏； </p>-->
                            <!--<p>7、具备丰富的网络知识，熟悉网络媒体的运作，有网络营销经验者优先，有媒体资源或者有从事过站长工作的优先； </p>-->
                            <!--<p>8、要求有良好的职业操守、工作态度积极主动，能够承受较大工作压力。 </p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="retle">-->
                    <!--<div class="recruittitle">-->
                        <!--<section></section>-->
                        <!--<p>手游客服专员</p>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">职责：</div>-->
                        <!--<div>-->
                            <!--<p>1、解答和处理玩家反馈的APP问题； </p>-->
                            <!--<p>2、监控APP运行状态，维护APP的正常运转； </p>-->
                            <!--<p>3、及时反馈和协助处理APP异常状况，并与玩家做好沟通；</p>-->
                            <!--<p>4、对客服工作或产品问题进行反馈并能提出改进建议； </p>-->
                            <!--<p>5、定期与玩家进行深度沟通，了解用户需求与行为习惯，为APP运营及版本策略提供意见；</p>-->
                            <!--<p>6、提供运营服务，处理运营问题，研究运营数据，提升运营质量。 </p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">要求：</div>-->
                        <!--<div>-->
                            <!--<p>1、专科及以上学历，专业不限； </p>-->
                            <!--<p>2、熟悉互联网行业，有1年以上互联网从业经验； </p>-->
                            <!--<p>3、有较强的逻辑思维能力和问题分析能力； </p>-->
                            <!--<p>4、优秀的团队合作精神，善于沟通，具有亲和力；</p>-->
                            <!--<p>5、具备良好的学习能力，善于学习和掌握新技能，有创新精神； </p>-->
                            <!--<p>6、思维敏捷，善于表达自己的观点和意见； </p>-->
                            <!--<p>7、具备良好的服务意识，平均每日工作时间8小时； </p>-->
                            <!--<p>8、热爱游戏行业，体验或玩过多款热门手游，对手游有深刻的理解愿扎根游戏行业者可优先考虑； </p>-->
                            <!--<p>9、热衷体验新鲜的APP软件，对APP软件有较深的见解。 </p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="retle">-->
                    <!--<div class="recruittitle">-->
                        <!--<section></section>-->
                        <!--<p>新媒体运营</p>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">职责：</div>-->
                        <!--<div>-->
                            <!--<p>1、负责公司自媒体平台（微信、微博）运营与维护；</p>-->
                            <!--<p>2、负责微博、微信（订阅号）自媒体的内容编辑、推送、粉丝互动、话题制造、活动策划等工作； </p>-->
                            <!--<p>3、定期策划推广并执行品牌营销线上活动，不断提高粉丝数量且维持粉丝活跃度； </p>-->
                            <!--<p>4、建立有效运营手段提升网友活跃度，增加粉丝数，提高关注度以及互动性。 </p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">要求：</div>-->
                        <!--<div>-->
                            <!--<p>1、市场营销、广告学、新闻传播等相关专业，大专及以上学历； </p>-->
                            <!--<p>2、熟悉互联网行业，有1年互联网从业经验，其中1年以上品牌管理工作经历者优先；</p>-->
                            <!--<p>3、有移动互联网整合传播能力，有较强市场敏感性，有移动互联网代理公司资源； </p>-->
                            <!--<p>4、注重内容营销，娱乐趣味营销，深谙移动互联网特性； </p>-->
                            <!--<p>5、良好的沟通协作能力和文案水平，工作踏实、认真，有韧性和创新能力； </p>-->
                            <!--<p>6、具备有APP或手游自媒体运营经验优先。 </p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="retle">-->
                    <!--<div class="recruittitle">-->
                        <!--<section></section>-->
                        <!--<p>策划专员</p>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">职责：</div>-->
                        <!--<div>-->
                            <!--<p>1、推广活动：依据APP整体计划，策划APP的推广活动，实现用户拉新和品牌宣传； </p>-->
                            <!--<p>2、合作活动：策划与非竞品平台/个人在内容或品牌方向的合作，为APP是吸纳用户拉新和宣传； </p>-->
                            <!--<p>3、合作拓展：开发和建立新的合作平台，拓展合作内容与模式。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">要求：</div>-->
                        <!--<div>-->
                            <!--<p>1、善于沟通，具备良好的团队协作能力； </p>-->
                            <!--<p>2、一定的数据分析能力，能熟练应用excel,ppt等办公软件；</p>-->
                            <!--<p>3、有一定的PS基础，能完成简单的图片处理； </p>-->
                            <!--<p>4、热爱手游，体验或玩过多款热门手游，对手游有深刻的理解； </p>-->
                            <!--<p>5、热衷体验新鲜的APP软件，对APP软件有较深的见解。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="recruitpic">-->
                    <!--<div>商务</div>-->
                    <!--<p>BUSINESS AFFAIRS</p>-->
                <!--</div>-->
                <!--<div class="retle">-->
                    <!--<div class="recruittitle">-->
                        <!--<section></section>-->
                        <!--<p>手游商务拓展</p>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">职责：</div>-->
                        <!--<div>-->
                            <!--<p>1、负责手游运营商及渠道商关系的开拓与维护，并与其保持良好的合作关系； </p>-->
                            <!--<p>2、配合线上线下推广政策，与手游合作伙伴共同组织、执行各类营销推广活动； </p>-->
                            <!--<p>3、对接测试、发行等，负责与各合作伙伴的跟进，如合同签订及结算； </p>-->
                            <!--<p>4、监控渠道数据，并做好日常分析，对于异常数据进行及时有效的反馈和协调； </p>-->
                            <!--<p>5、负责收入统计、合作伙伴结算对账工作； </p>-->
                            <!--<p>6、商务合作项目的内部资源整合及对外谈判。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">要求：</div>-->
                        <!--<div>-->
                            <!--<p>1、有互联网工作经验者优先； </p>-->
                            <!--<p>2、拥有良好的运营商、渠道、厂商等人际关系网络的优先； </p>-->
                            <!--<p>3、了解Android、iOS平台，对App的推广和运营有自己的认知； </p>-->
                            <!--<p>4、优秀的客户沟通能力、商务谈判能力、项目管理能力，对数据敏感、善于分析和优化； </p>-->
                            <!--<p>5、有责任心，积极主动，具备良好的团队合作能力。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="recruitpic">-->
                    <!--<div>运营</div>-->
                    <!--<p>OPERATE</p>-->
                <!--</div>-->
                <!--<div class="retle">-->
                    <!--<div class="recruittitle">-->
                        <!--<section></section>-->
                        <!--<p>项目兼行政助理</p>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">职责：</div>-->
                        <!--<div>-->
                            <!--<p>1、项目跟进，及时反馈项目进度情况和状态，并协助解决项目问题； </p>-->
                            <!--<p>2、对接需求、需求的跟进、需求的确认； </p>-->
                            <!--<p>3、整理、编制、更新、汇总、归档及管理各类项目资料； </p>-->
                            <!--<p>4、协助各部门处理相关的项目会议记录、行政事宜、与各部门进行沟通；</p>-->
                            <!--<p>5、完成上级领导交代的其他工作。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">要求：</div>-->
                        <!--<div>-->
                            <!--<p>1、熟悉产品的的规划； </p>-->
                            <!--<p>2、熟练使用windows系统、office等办公软件； </p>-->
                            <!--<p>3、性格开朗、乐观、良好的学习和理解能力，有较强的逻辑思维能力及沟通能力，思维开阔； </p>-->
                            <!--<p>4、有较强的责任心、进取心，积极主动； </p>-->
                            <!--<p>5、抗压能力强，能适应一定的工作强度。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="retle">-->
                    <!--<div class="recruittitle">-->
                        <!--<section></section>-->
                        <!--<p>手游发行运营专员</p>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">职责：</div>-->
                        <!--<div>-->
                            <!--<p>1、协助上级开展游戏发行运营的各项工作； </p>-->
                            <!--<p>2、针对游戏运营不同阶段、节假日策划执行相应的线上活动方案，完成并跟进活动及功能改善方案； </p>-->
                            <!--<p>3、关注渠道日常运营数据，定期输出渠道运营数据报告，跟踪渠道投放效果，处理突发事件； </p>-->
                            <!--<p>4、根据游戏运营状况，进行数据分析并提出各渠道有效的产品调整方案，保证用户数量和收入稳定增长； </p>-->
                            <!--<p>5、 负责合作渠道的运营工作支持，跟进各渠道合作进展；与渠道日常沟通和关系维护，争取更多推广资源。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">要求：</div>-->
                        <!--<div>-->
                            <!--<p>1、半年以上的游戏发行运营经验，熟悉运营各环节工作内容； </p>-->
                            <!--<p>2、工作细心，具有良好的工作习惯，能认真完成工作任务； </p>-->
                            <!--<p>3、沟通协调能力强，有良好的团队合作精神和推动能力； </p>-->
                            <!--<p>4、工作有责任心、有毅力、能在较大的压力下保持良好状态； </p>-->
                            <!--<p>5、具备产品调试能力； </p>-->
                            <!--<p>6、热爱游戏，对手机游戏有强烈兴趣和深入了解； </p>-->
                            <!--<p>7、英语能力强者优先。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="recruitpic">-->
                    <!--<div>技术</div>-->
                    <!--<p>TECHOLOGY</p>-->
                <!--</div>-->
                <!--<div class="retle">-->
                    <!--<div class="recruittitle">-->
                        <!--<section></section>-->
                        <!--<p>H5页面开发</p>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">职责：</div>-->
                        <!--<div>-->
                            <!--<p>1、根据公司项目和产品设计，利用JavaScript、HTML5相关技术开发手机web、微信、PC等多平台上的前端应用； </p>-->
                            <!--<p>2、 维护、优化现有的Web前端应用，改善用户体验； </p>-->
                            <!--<p>3、参与Web前端开发规范的制定及开发流程的优化。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="recruittext">-->
                        <!--<div class="recruittextb">要求：</div>-->
                        <!--<div>-->
                            <!--<p>1、计算机相关专业，1年以上html5开发工作经验、有H5小游戏开发经验优先； </p>-->
                            <!--<p>2、熟练掌握各种Web前端技术，包括HTML、CSS、JavaScript、AJAX等； </p>-->
                            <!--<p>3、熟悉移动端HTML5、CSS3开发技术，1年以上移动端研发经验； </p>-->
                            <!--<p>4、熟悉各浏览器的差异、原理，精通jQuery等JS框架； </p>-->
                            <!--<p>5、熟悉针对主流浏览器的代码兼容及优化。</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                {$content.content}
            </div>
            <!--右侧内容结束-->
        </div>
    </div>
</main>
<!--遮罩层开始-->
<div class="alert"></div>
<!--遮罩层结束-->
<!--主体内容结束-->
<!--友情链接开始-->
<include file='Common:friend_link'/>
<!--友情链接结束-->
<!--底部导航开始-->
<include file='Common:footer'/>
<!--底部导航结束-->
<script>

</script>
</body>
</html>