<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta name="format-detection" content="address=no;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<title>服务协议</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link href="file:///android_asset/css/service.css" rel="stylesheet"></head>
<body>
	<section class="sev_bg">
        <h2>《指娱游戏服务协议》</h2>
        <h3>前言</h3>
        <p>1、欢迎您选择享用海南嘉玩互动网络科技有限公司提供的网络游戏及产品！</p>
        <p>2、海南嘉玩互动网络科技有限公司遵循国家网络游戏管理的相关规定，提倡“保护未成年人健康、创建绿色网游环境”的口号，努力为用户提供更优质的服务。</p>
        <p>3、海南嘉玩互动网络科技有限公司建议用户在申请游戏帐号时，请填写真实的姓名及身份证号码等相关资料，以便更好地体验海南嘉玩互动网络科技有限公司的游戏服务。</p>
        <h3>特别说明：</h3>
        <p>1、根据《网络游戏管理暂行规定》（文化部令第49号），文化部制定《网络游戏服务格式化协议必备条款》。甲方为网络游戏运营企业，乙方为网络游戏用户；</p>
        <p>2、海南嘉玩互动网络科技有限公司为zhiyugame.com网站游戏的运营企业，协议下称“甲方”，乙方自愿接受甲方提供的网络游戏服务，协议下称“乙方”或“用户”；</p>
        <p>3、本协议的第一条至第四条为文化部网络游戏服务格式化协议必备条款（简称“必备条款”），协议的其他内容与该必备条款有冲突的部分，以该必备条款约定的内容为准。</p>
        <p>甲乙双方服务协议的条款具体如下，各广大用户应认真阅读、充分理解本协议中各条款，以确保在享受本网络游戏服务的同时，也能及时维护自身的合法权益：</p>
        <h3>一、账号注册</h3>
        <p>1、乙方承诺以其真实身份注册成为甲方的用户，并保证所提供的个人身份资料信息真实、完整、有效，依据法律规定和必备条款约定对所提供的信息承担相应的法律责任。</p>
        <p>2、 乙方以其真实身份注册成为甲方用户后，需要修改所提供的个人身份资料信息的，甲方应当及时、有效地为其提供该项服务。</p>
        <h3>二、用户账号使用与保管</h3>
        <p>1、 根据必备条款的约定，甲方有权审查乙方注册所提供的身份信息是否真实、有效，并应积极地采取技术与管理等合理措施保障用户账号的安全、有效；乙方有义务妥善保管其账号及密码，并正确、安全地使用其账号及密码。任何一方未尽上述义务导致账号密码遗失、账号被盗等情形而给乙方和他人的民事权利造成损害的，应当承担由此产生的法律责任。</p>
        <p>2、乙方对登录后所持账号产生的行为依法享有权利和承担责任。</p>
        <p>3、 乙方发现其账号或密码被他人非法使用或有使用异常的情况的，应及时根据甲方公布的处理方式通知甲方，并有权通知甲方采取措施暂停该账号的登录和使用。</p>
        <p>4、 甲方根据乙方的通知采取措施暂停乙方账号的登录和使用的，甲方应当要求乙方提供并核实与其注册身份信息相一致的个人有效身份信息。</p>
        <p>（1） 甲方核实乙方所提供的个人有效身份信息与所注册的身份信息相一致的，应当及时采取措施暂停乙方账号的登录和使用。</p>
        <p>（2） 甲方违反2.4.1款项的约定，未及时采取措施暂停乙方账号的登录和使用，因此而给乙方造成损失的，应当承担其相应的法律责任。</p>
        <p>（3） 乙方没有提供其个人有效身份证件或者乙方提供的个人有效身份证件与所注册的身份信息不一致的，甲方有权拒绝乙方上述请求。</p>
        <p>5、乙方为了维护其合法权益，向甲方提供与所注册的身份信息相一致的个人有效身份信息时，甲方应当为乙方提供账号注册人证明、原始注册信息等必要的协助和支持，并根据需要向有关行政机关和司法机关提供相关证据信息资料。</p>
        <h3>三、服务的中止与终止</h3>
        <p>1、乙方有发布违法信息、严重违背社会公德、以及其他违反法律禁止性规定的行为，甲方应当立即终止对乙方提供服务。</p>
        <p>2、乙方在接受甲方服务时实施不正当行为的，甲方有权终止对乙方提供服务。该不正当行为的具体情形应当在本协议中有明确约定或属于甲方事先明确告知的应被终止服务的禁止性行为，否则，甲方不得终止对乙方提供服务。</p>
        <p>3、乙方提供虚假注册身份信息，或实施违反本协议的行为，甲方有权中止对乙方提供全部或部分服务；甲方采取中止措施应当通知乙方并告知中止期间，中止期间应该是合理的，中止期间届满甲方应当及时恢复对乙方的服务。</p>
        <p>4、 甲方根据本条约定中止或终止对乙方提供部分或全部服务的，甲方应负举证责任。甲方同时保留在不事先通知用户的情况下，随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，甲方无需对用户或任何第三方承担任何责任。</p>
        <h3>四、用户信息保护</h3>
        <p>1、 甲方要求乙方提供与其个人身份有关的信息资料时，应当事先以明确而易见的方式向乙方公开其隐私权保护政策和个人信息利用政策，并采取必要措施保护乙方的个人信息资料的安全。</p>
        <p>2、 未经乙方许可甲方不得向任何第三方提供、公开或共享乙方注册资料中的姓名、个人有效身份证件号码、联系方式、家庭住址等个人身份信息，但下列情况除外：</p>
        <p>（1）乙方或乙方监护人授权甲方披露的；</p>
        <p>（2）有关法律要求甲方披露的；</p>
        <p>（3） 司法机关或行政机关基于法定程序要求甲方提供的；</p>
        <p>（4） 甲方为了维护自己合法权益而向乙方提起诉讼或者仲裁时；</p>
        <p>（5） 应乙方监护人的合法要求而提供乙方个人身份信息时。</p>
        <p>3、除前述个人信息资料之外，您同意并授权甲方基于安全、用户体验优化等考虑而收集您的其他必要信息，但甲方仅可为履行本协议之目的收集与利用该等信息</p>
        <p>为保障用户的隐私权、规范对用户个人信息的利用，甲方制定了《网络游戏用户隐私权保护和个人信息利用政策》，请用户详细阅读该政策的内容。</p>
        <h3>五、甲方特别提示：</h3>
        <p>1、用户在使用甲方提供的移动端游戏软件(下文亦称为“指娱游戏软件”）及相关服务（“移动端游戏软件及相关服务”下文亦称为“指娱游戏服务”）之前，请仔细阅读本《zhiyugame.com使用许可及服务协议》（下文亦称为“本协议”）中各条款。</p>
        <p>2、甲方特别提醒用户认真阅读本协议的全部条款，特别是其中免除或者限制甲方责任的条款（该等条款通常含有“不负任何责任”、“无义务”、“不保证”等词汇）、限制用户权利的条款（该等条款通常含有“不得”、“不应”、“无权”等词汇）、法律适用和争议解决条款，这些条款应在中国法律所允许的范围内最大程度地适用，该类条款通常用红色字体标示。</p>
        <p>3、如用户不同意本协议的任何条款，则不得安装、使用指娱游戏软件，不得享用指娱游戏服务。用户一旦点击“接受”并安装指娱游戏软件，或者注册、开始使用及/或继续使用指娱游戏服务，即视为用户同意并已经接受本协议中全部条款。此后您不得以未阅读/未同意本协议内容或类似理由提出任何形式的抗辩。</p>
        <p>4、用户有权在接受指娱游戏服务期间，监督甲方及甲方的工作人员是否按照甲方所公布的标准向用户提供服务，也可以随时向甲方提出与甲方的产品和服务有关的意见和建议。</p>
        <p>如果用户未满18周岁的，需在监护人的陪同下阅读本协议，并在取得监护人对用户享用甲方提供的指娱游戏服务行为的授权，以及对本协议全部条款的同意之后，方可享用甲方提供的指娱游戏服务。</p>
        <h3>六、 词语定义和说明</h3>
        <p>如无特别说明，本协议中的以下词语含义分别如下：</p>
        <p>1、指娱游戏软件：指甲方提供的移动端游戏软件（包括任何可在移动智能设备上操作的适配版本），以及与该等移动端游戏软件相关的更新、升级、补丁、资料片等。并可能包括相关的网络服务器、网站（包括但不限于该移动端游戏之官方网站或官方论坛)、电子媒体、印刷材料或电子文档等。</p>
        <p>2、指娱游戏服务：指甲方向您提供的、与前述指娱游戏软件相关的各项在线运营服务，并包括指娱游戏软件本身。</p>
        <p>3、增值服务代用币：指甲方为满足用户在甲方游戏服务中的正常交易交流需求，而设计的一种虚拟道具，通过人民币兑换等途径获得，可用于换取游戏中指定的各类增值服务，仅限于在特定游戏中使用和流通。</p>
        <h3>七、知识产权声明</h3>
        <p>1、甲方依法享有指娱游戏软件的一切合法权益，或已从合法权利人处取得合法授权，从而有权为用户提供指娱游戏软件及指娱游戏服务。</p>
        <p>2、指娱游戏服务所体现的“指娱”、“zhiyugame.com”的文字、LOGO（图形），以及在具体服务中使用的用以标识服务名称与来源的文字、LOGO（图形）等（包括但不限于指娱游戏服务的名称、LOGO、ICON，指娱游戏软件开发者的名称、LOGO、ICON等），属于甲方及/或其关联公司、合作公司在中国及/或其他国家/地区的商标或者注册商标。</p>
        <p>3、指娱游戏服务可能涉及第三方知识产权，如该等第三方对您在指娱游戏服务中使用该等知识产权有要求的，甲方将以适当方式向您告知该等要求，您应当遵守。</p>
        <p>4、本协议未明确授予您的权利均由甲方保留。</p>
        <h3>八、 指娱游戏软件使用许可与限制</h3>
        <p>1、在用户同意接受本协议全部条款的前提下，甲方同意授予用户非商业使用性质的、可撤销的、可变更的、非专有的、不可转让和不可转授权的使用本指娱游戏软件及指娱游戏服务的权利。用户可在授权范围内将本指娱游戏软件安装在供个人使用的移动智能设备上，并以甲方指定的方式运行本指娱游戏软件的一份副本并享受甲方提供的服务。甲方基于本协议授予用户的许可是针对个人使用的许可。任何未经甲方许可的安装、使用、访问、显示、运行、商业使用等行为均属对甲方的侵权。</p>
        <p>2、除非本协议另有约定，否则，未经甲方事先书面同意，用户不得实施下列行为（无论是营利的还是非营利的）：</p>
        <p>(1)复制、翻录、反编译（de-compile）、反汇编（disassemble）、传播和陈列指娱游戏软件的程序、使用手册和其它图文音像资料的全部或部分内容，或对指娱游戏软件的任何功能或程序进行反向工程（reverse engineering）。</p>
        <p>(2)公开展示和播放指娱游戏软件/指娱游戏服务的全部或部分内容。</p>
        <p>(3)出租、销售指娱游戏软件或者利用指娱游戏软件从事任何营利行为。</p>
        <p>(4)修改或遮盖指娱游戏软件程序、图像、动画、包装和手册等内容上的服务名称、公司标志、商标（或）版权信息、其他知识产权声明等内容。</p>
        <p>(5)其它违反商标法、著作权法、计算机软件保护条例和相关法律法规、国际条约的行为。</p>
        <h3>九、资费政策</h3>
        <p>1、甲方有权决定指娱游戏软件及指娱游戏服务的收费方式和资费标准，有权不同阶段确定不同的收费方式和资费标准，且甲方有权根据需要对资费政策随时进行调整。</p>
        <p>2、指娱游戏软件及指娱游戏服务的具体收费方式、资费标准，包括但不限于指娱游戏软件的收费标准、游戏中虚拟物品的使用权以及增值服务（如有）的具体收费标准等，均由甲方在APP STORE或其他APP发布渠道、游戏内道具商城、道具购买界面等游戏模块上，以网络游戏行业通用的形式颁布。</p>
        <p>3、用户有义务在选择前仔细阅读，一旦用户选择下载收费的指娱游戏软件、购买相关虚拟物品使用权或者接受相关服务，则表明用户已经充分理解并接受相应的收费方式和资费标准。</p>
        <p>4、甲方有权根据需要，在游戏中设立、添加、修改增值服务并发行增值服务代用币。增值服务代用币用于购买相关虚拟道具使用权或者接受相关增值服务。增值服务代用币通过使用人民币兑换获得，人民币一经兑换成增值服务代用币，则视为人民币已经使用。增值服务代用币不可兑换成人民币。</p>
        <h3>十、游戏虚拟物品</h3>
        <p>1、游戏虚拟物品（或简称“虚拟物品”）包括但不限于游戏角色、资源、道具（包括但不限于游戏中的武器、坐骑、宠物、装备等）等，其所有权归甲方，用户只能在符合法律规定的情况下，根据游戏规则进行使用。</p>
        <p>2、游戏中各类虚拟物品，如对使用期限无特殊标识的，均默认用户可在获得使用权后持续使用，直至相应指娱游戏服务终止；如对使用期限有特殊标识的，则其使用期以特殊标识的期限为准，超过使用期的，甲方有权不另行通知用户而随时收回其使用权（该使用期限不因任何原因而中断、中止）。</p>
        <h3>十一、用户帐号的特别约定</h3>
        <p>1、如用户连续365天没有登陆游戏，则自第365天当天的24时起，甲方有权采取措施删除该用户帐号以及该用户帐号在游戏数据库中的任何记录（包括但不限于角色、等级、虚拟物品、增值服务代用币等数据信息），删除后的数据信息无法再恢复。</p>
        <p>2、如果您选择通过“快速游戏”、“游客”或其他类似便捷模式（下称“快速模式”），在未注册用户帐号的前提下快速登录游戏的，请您登录后及时绑定用户帐号；如您未绑定用户帐号，则一旦您卸载、重装指娱游戏软件，或您的移动智能设备损坏导致指娱游戏软件无法正常启动的，您在快速模式下的全部游戏数据、充值记录将无法查询、恢复。</p>
        <h3>十二、甲乙双方义务</h3>
        <p>1、甲方义务</p>
        <p>（1）甲方同意通过移动互联网络，根据本协议约定，为用户提供甲方游戏服务。</p>
        <p>（2）甲方保存游戏虚拟货币的充值记录，保存期限为自用户充值之日起180日。</p>
        <p>（3）在使用甲方游戏虚拟货币的过程中，用户向甲方要求协助调取游戏虚拟货币充值记录和转移记录的，甲方经核实用户所提供的个人有效身份信息或证明与所注册的身份信息一致的，予以协助提供；不一致的，有权拒绝提供。</p>
        <p>2、用户义务</p>
        <p>（1）用户应自行配备上网的所需设备，包括但不限于移动智能设备(包括但不限于手机、平板电脑)、无线路由器或其他必备上网装置。</p>
        <p>（2）用户自行负担上网所支付的与此服务相关的电信费用、网络使用等费用。</p>
        <p>（3）遵守本协议的约定、其他相关规则和制度的规定(包括但不限于用户点击同意的甲方邮箱帐号服务条款，以及甲方在游戏官方网站或游戏内公布的规则等)；遵守中华人民共和国相关法律法规(如果用户是中华人民共和国境外的使用者，还应遵守所属国家或地区的法律法规)。</p>
        <p>（4）不得有不正当游戏行为，不得发布含下列内容的信息：</p>
        <p>*反对中华人民共和国宪法所确定的基本原则的；</p>
        <p>*危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
        <p>*损害国家荣誉和利益的；</p>
        <p>*煽动民族仇恨、民族歧视，破坏民族团结的；</p>
        <p>*破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
        <p>*散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
        <p>*散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
        <p>*侮辱或者诽谤他人，侵害他人合法权益的；</p>
        <p>*宣扬、教唆使用外挂、私服以及木马的相关内容的；</p>
        <p>*发布任何经甲方合理判断为不妥当或者甲方未认可的软件、文件等在内的主页地址或者链接的；</p>
        <p>*含有中华人民共和国法律、行政法规禁止的其他内容的。用户应为其所发布信息的内容承担法律责任。 </p>
        <p>（5）不得通过不正当或其他不公平的手段使用指娱游戏软件、指娱游戏服务或参与指娱游戏活动。</p>
        <p>（6）不得干扰甲方正常地提供软件和服务，包括但不限于：攻击、侵入甲方的网站服务器或使网站服务器过载；破解、修改甲方提供的指娱游戏软件程序；攻击、侵入甲方的游戏服务器/游戏服务器端程序或使游戏服务器过载；制作、发布、传播、使用任何形式的妨碍游戏公平性的辅助工具或程序(包括但不限于“外挂”, “外挂”是指独立于游戏软件之外的，能够在游戏运行的同时影响游戏操作的所有程序，包括但不限于模拟用户操作、改变操作环境、修改数据等一切类型）。</p>
        <p>（7）不得利用程序的漏洞和错误(Bug)破坏游戏的正常进行或传播该漏洞或错误(Bug)；不合理地干扰或阻碍他人使用甲方所提供的软件和服务；通过异常或者非法的方式使用甲方的软件(包括但不限于利用指娱游戏软件登录游戏私服)；使用异常的方法登录游戏（包括但不限于使用非甲方开发、授权或认可的第三方软件、系统登录游戏）、使用网络加速器等外挂软件或机器人程序等恶意破坏服务设施、扰乱正常服务秩序的行为；修改、翻译、注释、整理、汇编、演绎指娱游戏软件；利用本软件或者线上游戏系统可能存在的技术缺陷或漏洞而以各种形式为自己及他人牟利（包括但不限于复制游戏虚拟物品等）或者从事其他不正当行为等。</p>
        <p>(8)不得利用甲方网络服务系统或QQ、微信等其他方式对甲方（包括甲方独家运行的各款游戏）进行污蔑或攻击，或在平台上对其他游戏平台进行夸张宣传和恶意拉人等不利于甲方的行为。</p>
        <p>(9)甲方有权对违反以上规定的用户账号进行终止服务等处理；终止服务后甲方对用户投入的时间、金钱不予返还或补偿。若终止服务后，用户积极改正过错行为的，双方协商一致后，甲方可继续为用户提供服务。用户同意以游戏程序中的监测数据作为判断用户是否有通过使用外挂程序等方法进行游戏作弊行为的依据。甲方保留对此部分条款随时增补删除的权利，保留最终解释权。</p>
        <h3>十三、游戏服务器运营的中断、中止与终止</h3>
        <p>1、为了游戏服务器的正常运行，甲方需要定期对游戏服务器进行停机维护或针对突发事件进行紧急停机维护；因上述情况而造成的正常服务中断、中止，用户已事先知情并理解，甲方则有义务尽力将中断时间限制在最短时间内。</p>
        <p>2、发生下列情形之一时，甲方有权终止或中断游戏服务器所提供之全部或部分服务，对因此而产生的不便或损害，甲方对用户或第三人均不承担任何责任：</p>
        <p>（1）定期检查或施工，更新软硬件等，甲方有权暂停服务，但甲方会尽快完成维护、更新工作；</p>
        <p>（2）游戏服务器遭受损害，无法正常运作；</p>
        <p>（3）突发性的软硬件设备与电子通信设备故障；</p>
        <p>（4） 网络提供商线路或其他故障； </p>
        <p>（5） 在紧急情况之下依照法律的规定或为用户及第三者之人身安全；</p>
        <p>（6） 第三方原因或其他不可抗力的情形。</p>
        <p>3、甲方保留在其认为有必要的情况下，终止或部分终止提供指娱游戏服务的权利，终止前将提前60天予以公告。不管由于何种原因终止指娱游戏服务，用户应采取相应的措施自行处理游戏虚拟物品，包括但不限于注销或停止使用用户帐号、游戏虚拟物品等相关事宜。</p>
        <h3>十四、游戏特别说明</h3>
        <p>1、战斗系统特别说明</p>
        <p>特定指娱游戏服务中可能含有战斗系统，在战斗系统里，用户与用户之间可以自由对战。就该类含有战斗系统的指娱游戏服务，用户一旦点击“接受”并安装相应的指娱游戏软件，或者注册、开始使用及/或继续使用相应的指娱游戏软件或指娱游戏服务，将视为用户同意游戏战斗系统中的所有自由对战行为，并同意遵守自由对战的游戏规则。</p>
        <p>2、单机游戏特别说明</p>
        <p>主体为单机游戏的指娱游戏服务中，充值系统仅在接入互联网后方可使用，如用户使用充值系统进行充值，将通过互联网确认充值信息。主体为单机游戏的指娱游戏服务中，全部游戏数据将保存在您的移动智能设备上，一旦用户卸载、重装指娱游戏软件，或移动智能设备损坏导致指娱游戏软件无法正常启动的，用户的全部游戏数据将无法恢复。如需将游戏数据保存在游戏服务器中的，需联网才可进行数据保存操作。</p>
        <h3>十五、惩罚的定义</h3>
        <p>1、除非本协议另有其他约定，若用户违反本协议的规定，可能遭受以下一项或几项惩罚:</p>
        <p>(1)警告：警告仅仅是针对违反游戏规则的用户做出的教育导向，它是用于正常管理游戏运行的一种方式。</p>
        <p>(2)禁言：关闭违规用户的部分或全部聊天频道，强制暂停用户用户帐号的线上对话功能，使用户用户帐号无法与其他用户对话，直到此次处罚到期或是取消。 </p>
        <p>(3)暂时冻结玩法：将违规用户的游戏角色进行限制，限制其局部游戏操作，直到此次处罚到期或是取消。 </p>
        <p>(4)永久冻结玩法：将违规用户的游戏角色进行限制，限制其局部游戏操作，且永久不予以解除或释放。 </p>
        <p>(5)暂时禁止登录：违规用户的用户帐号将在一定的时间内暂时无法登录使用甲方提供的某个或者某几个游戏，直到此次处罚到期或是取消。</p>
        <p>(6)永久禁止登录：违规用户的用户帐号将永久无法登录使用指娱游戏服务。</p>
        <p>(7)强制离线：强制让违规用户离开当前游戏，结束用户当前游戏程序的执行。</p>
        <p>(8)封停账号：暂停或永久停止违规用户游戏帐号登录指娱游戏服务的权利。</p>
        <p>(9)删除档案：将违规用户在游戏世界中的人物档案删除，不让该人物再出现在游戏世界。 </p>
        <p>(10)承担法律责任：用户的不当行为对他人或者甲方造成损害或者与现行法律规定相违背的，违规用户要依法承担相应的民事、行政或刑事责任。</p>
        <p>(11)解散组织：解散用户成立的帮派、工会、势力等组织。</p>
        <p>(12)修改昵称：对于用户游戏人物或战队等的命名强制修改。</p>
        <p>(13)暂时限制游戏行为：违规用户的用户帐号将在一定的时间内被限制使用部分游戏服务。</p>
        <p>(14)其他处罚措施：包括但不限于没收不正当利益（如用户通过不正当途径获得的游戏虚拟物品）、倒扣数值（包括但不限于经验值等）等。</p>
        <p>2、游戏内反骚扰的惩罚：甲方倡议用户对自己的言行负责，文明游戏，健康游戏，若用户出现本条约定的以下情形，将遭受如下下一项或几项惩罚：</p>
        <p>（1）冒充系统：在游戏中，凡是通过各种方式、行为冒充系统向其他用户散布或传播虚假信息，根据情况将有可能受到以下处罚：警告；禁言；暂时冻结玩法；永久冻结玩法；暂时禁止登录；永久禁止登录。</p>
        <p>（2）非法网站：为了维护游戏世界中的洁净与和谐，凡是宣扬非法网站的，根据情况将有可能受到以下处罚：警告；禁言；暂时冻结玩法；永久冻结玩法；暂时禁止登录；永久禁止登录。</p>
        <p>（3）言行不雅：在游戏中，凡是通过各种方式、行为散布或传播言行不雅的信息，根据情况将有可能受到以下处罚：警告；禁言；暂时冻结玩法；永久冻结玩法；强制离线；暂时禁止登录。</p>
        <p>（4）垃圾广告信息：大量传播相同的、类似短语或无实质意义内容的言行，以及任何与所在游戏无关的信息(包括但不限于刷屏等)，或者发布、传播任何贬损、诋毁、恶意攻击所在游戏或甲方的信息或者其他不实信息，根据情况将有可能受到以下处罚：警告；禁言；暂时冻结玩法；永久冻结玩法；强制离线；暂时禁止登录；永久禁止登录。</p>
        <p>（5）地区分裂：在游戏中，凡是通过各种方式或途径引起地区纷争的行为，根据情况将有可能受到以下处罚：警告；禁言；暂时冻结玩法；永久冻结玩法；强制离线；暂时禁止登录；永久禁止登录。</p>
        <p>（6）违禁药品或行为：在游戏中，凡是涉及违禁药品的行为，根据情况将有可能受到以下处罚：警告；禁言；暂时冻结玩法；永久冻结玩法；强制离线；暂时禁止登录；永久禁止登录。</p>
        <p>（7）现实生活信息和人身恐吓：凡是涉及任何与游戏世界无直接关系的暴力行为，以及泄漏其它用户或甲方员工的任何游戏世界和现实生活信息，根据情况将有可能受到以下处罚：禁言；强制离线；暂时冻结玩法；永久冻结玩法；暂时禁止登录；永久禁止登录；承担法律责任。</p>
        <p>（8）宣传或使用木马、外挂、病毒等信息：在游戏中，凡是通过各种方式、行为散布或传播、使用木马、外挂、病毒等信息，根据情况将有可能受到以下处罚：禁言；暂时冻结玩法； 永久冻结玩法；暂时禁止登录；永久禁止登录；强制离线；封停账号；删除档案；承担法律责任。 </p>
        <p>（9）宣传代练：在游戏中，凡是通过各种方式、行为散布或传播代练的信息，根据情况将有可能受到以下处罚：禁言；暂时冻结玩法；永久冻结玩法；暂时禁止登录；永久禁止登录；强制离线；封停账号；删除档案。</p>
        <p>（10）宣传或进行线下交易：用户只可在游戏内或者通过甲方认可的交易平台（如有）进行游戏虚拟物品交易。对于用户在任何非甲方事先认可的充值平台或其他交易平台进行充值或进行其他交易的相关行为（包括但不限于用户通过第三方进行充值或游戏内虚拟物品的购买），甲方将予以严厉打击和处罚。一经查证属实，甲方有权视具体情况采取各种处理措施，包括但不限于如下一项或几项：警告、倒扣数值、暂时冻结或回收游戏虚拟物品、暂时冻结玩法、永久冻结玩法、强制离线、封停账号、删除档案及采取其他技术措施防止用户从事该等行为；情节严重的，甲方保留追究用户法律责任的权利。</p>
        <p>（11）宣传或发布违法信息，严重违反社会公德：在游戏中，凡是涉及违反国家法律、违背社会道德文明准则的言语或行为，包括但不限于宣传或参与赌博、宣传邪教等行为，用户将受到以下处罚：警告；禁言；强制离线；暂时冻结玩法；永久冻结玩法；暂时禁止登录；永久禁止登录；删除档案；承担法律责任。</p>
        <p>（12）其他骚扰行为：除本条上述情形外，若用户出现其他不符合法律法规、社会公德或游戏规则的骚扰情形，根据情况将可能受到以下处罚：警告；禁言；暂时冻结玩法；永久冻结玩法；暂时禁止登录；永久禁止登录；强制离线；封停账号；删除档案；承担法律责任。</p>
        <h3>十六、游戏规则约定</h3>
        <p>1、游戏管理员(以下简称“GM”)交互管理规则 </p>
        <p>（1）在游戏过程中，用户可能会因为种种原因与GM进行交流。甲方将就具体游戏提供官方的游戏论坛作为用户和GM之间的交流平台。如果在游戏中遇到问题，用户可以通过官方论坛提交问题，它将给用户提供快速、优质的服务。</p>
        <p>（2）希望GM与用户的交流能对用户有所帮助，但请用户遵守相关规定。甲方将严肃处理以下行为：</p>
        <p>（3）冒充系统或GM：在游戏中，可能会存在某些用户冒充系统或GM的行为。如若发现，您可以通过游戏论坛向GM举报，并协助查证。一经查实，甲方将对其采取严厉的处罚措施。</p>
        <p>（4）欺骗或试图欺骗GM：在游戏中，用户不要试图利用甲方对您的信任，做出某些欺骗或试图欺骗GM的行为。如若发现，甲方将对该等用户采取严厉的处罚措施。试图欺骗GM的行为包括但不限于误导GM、拒绝提供信息、提供虚假信息以及任何试图“诈骗”GM的行为。 </p>
        <p>（5）违反或忽视GM做出的提示：在游戏中，为了确保大多数用户的共同利益，维护正常的游戏秩序，GM可能会提示用户执行某些操作或停止执行某些操作，任何忽视或阻挠该项工作的行为都可能导致用户游戏人物受到处罚。因此，用户应当保持合作态度。 </p>
        <p>（6）干扰GM工作：在游戏中，如若出现以下行为，甲方将对其采取严厉的处罚措施：</p>
        <p>*向GM索取任何虚拟游戏物品（包括但不限于游戏资源、装备等）；</p>
        <p>*频繁呼叫GM或发送无实质性内容的请求；</p>
        <p>*反复向GM发送已解答或解决问题的帮助请求。</p>
        <p>*辱骂或恶意攻击GM：在游戏中，不允许出现辱骂或恶意攻击GM的言行。如若发现，甲方将对其采取严厉的处罚措施。</p>
        <p>（7）扰乱游戏秩序：在游戏中，如若出现以下行为，甲方将对其采取严厉的处罚措施：</p>
        <p>*长时间停留在敏感地区（包括但不限于活动报名人、礼包发放人、传送人处）或恶意阻挡NPC；</p>
        <p>*任何恶意PK、清场、勒索等行为；</p>
        <p>*扬言或煽动其他用户参与非正常游戏内容的行为（包括但不限于游行、聚众闹事等）。</p>
        <p>温馨提醒：任何GM和甲方工作人员均不会在游戏、论坛中向用户索要通行证密码、安全码等信息，请用户注意识别，以免造成不必要的损失。 </p>
        <p>如有密码丢失,取回密码方法的步骤如下：</p>
        <p>（1）用户以甲方认可的合作方帐号登陆游戏的。</p>
        <p>（2）如遇密码遗忘、丢失等情况，应及时通知甲方采取措施暂停该账号的登录和使用。</p>
        <p>（3）甲方接到乙方的通知后，核实注册身份信息与个人有效身份信息相一致后，应采取措施暂停乙方账号的登录和使用的。</p>
        <p>2、命名管理规则</p>
        <p>（1）虽然人物昵称、用户所建立的组织名称等可以由用户来命名，但是为了维护游戏世界中的洁净与和谐，甲方不允许出现包括但不限于涉及种族/宗教、国家政治、国家领导人、淫秽的/粗俗的、诽谤/恐吓、宗教或宗教人物、工作人员、攻击性的、污辱性的、可能引起误会的、违禁药品等内容的名称。</p>
        <p>（2）如若发现前述情形，违规用户根据情况将有可能受到以下处罚：警告；禁言；暂时冻结玩法；永久冻结玩法；强制离线；暂时禁止登录；永久禁止登录；修改昵称；解散组织。</p>
        <p>3、利用游戏Bug以及第三方软件处理规则 </p>
        <p>（1）游戏BUG指游戏系统、程序、设定等方面存在的漏洞或不合理的现象。</p>
        <p>用户有义务向GM报告在游戏中出现的BUG。严禁用户直接或间接利用游戏BUG、程序漏洞等获利或扰乱游戏秩序，或者利用BUG、漏洞以达到个人目的。如果用户有该等行为，一经查实，可能受到如下处罚措施：没收用户利用BUG进行游戏而直接、间接获得之不正当利益；倒扣数值（包括但不限于经验值）；强制离线；暂时冻结玩法；永久冻结玩法；暂时禁止登录；永久禁止登录；删除档案；承担法律责任。</p>
        <p>（2）未经许可的第三方软件指可用于在游戏中获取优势，但不属于相应指娱游戏软件一部分的任何文件或程序，包括作弊性质的外挂以及相关辅助性质的外挂等（包括但不限于自动升级、自动练级、自动吃药、自动完成任务、加速性质、模拟加点、战斗显血或其他超出游戏设定范围的操作）。如若发现使用作弊性质的外挂以及相关辅助性质的外挂等，我们将对其采取严厉的处罚措施，包括：没收用户利用第三方软件进行游戏而直接、间接获得之不正当利益；倒扣数值（包括但不限于经验值）；暂时冻结玩法；永久冻结玩法；强制离线；暂时禁止登录；永久禁止登录；删除档案；承担法律责任。</p>
        <p>（3）任何与指娱游戏软件同时使用的外部第三方软件可能会对游戏产生不良的影响。使用外部应用程序可能造成的主要后果是数据传送不流畅，导致用户频繁掉线或卡机。外部应用软件可能使用户移动智能设备（包括但不限于手机、平板电脑）感染病毒、间谍软件和其他不明程序的侵扰。第三方软件还可能窃取用户存储在移动智能设备（包括但不限于手机、平板电脑）中的信息，例如账号、密码等个人信息。</p>
        <p>4、盗号与盗号相关行为处理规则</p>
        <p>（1）为保障用户能愉悦的体验游戏，保障用户的正当利益不受到侵害，甲方对盗号及盗号相关行为（包括但不限于盗取用户帐号、游戏数据、用户个人资料、协助盗号者操作及转移游戏虚拟物品等行为）将予以严厉打击和处罚。</p>
        <p>（2）一经查证属实或应有权机关的要求，甲方有权视具体情况立即采取暂时限制游戏行为、收回游戏虚拟物品、暂时禁止登录、永久禁止登录、封停账号、删除档案等处罚措施，情节严重的，甲方保留对涉案用户追究法律责任的权利。</p>
        <p>（3）尽管用户未主动参与盗号，但如用户获得的游戏虚拟物品是他人通过盗号方式获得，而后转移或者分配给该用户的，为了维护被盗用户的权益及游戏中公平公正的游戏秩序，甲方有权收回该用户购买的该游戏虚拟物品。 </p>
        <p>（4）在查证用户被盗事件的过程中，为能够快速调查、处理问题，甲方可能会请相关用户协助调查，其方式包括但不限于禁止登录调查、线上交流、线下交流等。</p>
        <p>5、游戏内欺诈行为处理规则</p>
        <p>（1）诚实信用是游戏中的基本原则。游戏中的欺诈行为是指以非法占有为目的，通过虚假承诺、虚构事实、隐瞒真相、故意误导、冒充他人、故意混淆等方式，骗取他人的游戏虚拟物品或其它财物。游戏内的欺诈行为包括昵称相似欺诈、冒充好友、冒充官方及其他形式。</p>
        <p>（2）如用户在游戏内进行欺诈，甲方将根据用户欺诈情节，采取各种处理措施，包括但不限于如下一项或几项：收回游戏虚拟物品；倒扣数值（包括但不限于经验值）；暂时冻结玩法；永久冻结玩法；强制离线；暂时禁止登录；永久禁止登录。尽管用户未主动参与欺诈，但如用户获得的游戏虚拟物品是他人通过欺诈方式获得，而后转移或者分配给您的，为了维护被盗用户的权益及游戏中公平公正的游戏秩序，甲方有权收回用户购买的该游戏虚拟物品。</p>
        <p>6、与充值相关的不诚信行为处理规则</p>
        <p>(1)诚实信用也是用户在充值相关行为中应遵循的基本原则。</p>
        <p>(2)用户成功为指娱游戏服务充值获得虚拟物品使用权或增值服务（以下统称“充值收益”）后，如对指娱游戏服务有任何误会、不满意、建议或其他诉求的，可随时通过客服专区或客服电话通知甲方。用户未选择该等方式而是另行进行退款操作的，应立即通过客服专区或客服电话通知甲方扣除相应的充值收益；</p>
        <p>(3)如用户进行退款操作后仍占有充值服务的属不诚信行为，甲方将予以严厉打击和处罚，包括但不限于如下一项或几项：警告、倒扣数值、暂时冻结或回收游戏虚拟物品或增值服务、暂时冻结玩法、永久冻结玩法、强制离线、封停账号、删除档案及采取其他技术措施防止用户从事该等行为；情节严重的，甲方保留追究用户法律责任（包括但不限于民事责任、刑事责任）的权利。</p>
        <p>7、数据异常处理规则</p>
        <p>如甲方发现用户数据异常或者存在违法或者其他不正当行为（“其他不正当行为”包括但不限于利用bug或非正常游戏方式提升游戏角色数据、游戏内的角色排名等），甲方有权进行调查并采取相应措施，包括但不限于：(1)删除游戏虚拟物品；(2)没收不正当利益；(3)数据回退或清零；（4）禁言；(5)暂时禁止登录；(6)永久禁止登录；（7）暂时隔离；（8）永久隔离；(9)强制离线；(10)封停直至删除用户帐号等。用户无权因此要求甲方承担任何责任。</p>
        <p>8、牟取不正当利益行为处理规则</p>
        <p>（1）用户理解并同意，甲方向用户提供指娱游戏服务，是为了让用户体验丰富多彩的游戏内容，而非利用指娱游戏服务赚取现实世界的金钱或牟取经济利益。而用户不以体验游戏内容为目的，在游戏中主要进行交易和牟利的行为，会破坏游戏内经济系统的公平性或平衡性，从而对其他用户的游戏体验、游戏本身造成不利影响。</p>
        <p>（2）用户承诺不以营利为目的从事游戏行为或交易虚拟物品，任何以营利为目的从事游戏行为或交易虚拟物品的情形将被视为牟取不正当利益，包括但不限于用户：</p>
        <p> *注册多个用户帐号和/或游戏角色ID，以营利为目的进行游戏行为；</p>
        <p> *从事游戏内单一或系列产出玩法，将获得的虚拟物品出售获利；</p>
        <p>*利用不同服务器的虚拟物品价值差异，在不同服务器买卖虚拟物品获利；</p>
        <p> *充当游戏帐号、虚拟物品交易中介收取费用获利；</p>
        <p> *在非甲方提供或认可的交易平台上交易用户帐号或虚拟物品获利；</p>
        <p> *将游戏内获得的虚拟物品用于出售获利而不注重本身角色实力的提升，角色多个技能、修炼、装备、召唤兽水平与角色等级相差较大的；</p>
        <p> *利用游戏行为和游戏内容组织或参与赌博、实施或参与实施盗窃他人财产或虚拟物品等涉嫌违法犯罪行为的；</p>
        <p> *其他任何不以正常的游戏娱乐互动需要为目的的游戏内牟利行为。</p>
        <p>（3）甲方有权对牟取不正当利益的用户同时采取以下措施：对所有参与牟取不正当利益的用户帐号（包括但不限于获得、转移、出售游戏虚拟物品的账号）进行倒扣数值、回收游戏虚拟物品、暂时冻结玩法、永久冻结玩法、强制离线、暂时隔离、永久隔离、封停帐号、删除档案及采取其他技术措施防止用户从事该等行为；情节严重的，甲方保留追究用户法律责任的权利。</p>
        <p>9、角色保护规则</p>
        <p>(1)若用户报告角色被盗、遭遇黑客行为或出现其他异常情况，或者甲方发现用户的角色存在被盗、共享或者被滥用等迹象或者其他异常情况，为避免用户的游戏角色、游戏虚拟物品等遭受不法侵害，甲方将会对用户的角色进行调查，并根据情节，在调查期间对用户的角色采取保护性措施（包括但不限于暂时冻结角色）。</p>
        <p>(2)请用户根据甲方的指引，提交相关材料以配合甲方的调查，以便尽快解除您角色的保护性措施。</p>
        <p>10、游戏画面使用规则</p>
        <p>未经甲方事先书面允许，用户不得通过第三方软件公开全部或部分展示、复制、传播、播放指娱游戏服务中的游戏画面，否则甲方将有权根据您的违约情节，采取各种处理措施，包括但不限于如下一项或几项：暂时禁止登录、强制离线、封停账号，且甲方保留进一步追究用户法律责任的权利。</p>
        <h3>十七、链接及广告信息</h3>
        <p>1、甲方在游戏官方网站、游戏官方论坛、游戏中所提供的所有链接，可能链接到其他个人、公司或组织的网站，提供该等网站的目的，是便利用户自行搜索或取得相关信息，甲方对于被链接的个人、公司或组织的网站所提供的产品、服务或信息，不担保其真实性、完整性、实时性或可信度。这些个人、公司或组织与甲方间不存在任何雇佣、委任、代理、合伙或其他类似的关系。</p>
        <p>2、甲方在游戏官方网站、游戏官方论坛、游戏内可能刊登商业广告或其他推广活动信息。这些广告或推广活动信息是由广告商或商业服务提供者提供，并承担相应责任，甲方仅提供刊登内容的媒介。用户通过该等链接的网站或广告所购买的商品或服务，其交易行为仅存在于用户与该商品或服务的提供者之间，与甲方无关，甲方不就用户与该商品或服务的提供者之间所产生的交易行为承担任何法律责任，用户应予以特别留意。</p>
        <h3>十八、信息的储存和安全及服务的限制 </h3>
        <p>1、甲方对本协议下所提供的服务将尽力维护其安全性及方便性，但对服务中出现的信息（包括但不限于用户发布的信息）删除或储存失败不承担任何责任。 </p>
        <p>2、甲方保留判定用户的行为是否符合本协议约定的权利，如果用户违背了本协议的约定，甲方有权中断依据本协议对用户提供的服务。</p>
        <p>十九、游戏数据</p>
        <p>在用户参加游戏过程中产生并储存于甲方服务器中的任何数据信息，包括但不限于账号数据信息、角色数据信息、等级及虚拟物品数据信息等（但用户的姓名、身份证号、电话号码等个人身份数据信息除外），属于游戏软件的一部分，由甲方所有并进行管理，用户有权在遵守游戏规则的前提下通过正当的途径对属于自身用户帐号的数据信息进行修改、转移、抛弃等。</p>
        <h3>二十、损害赔偿</h3>
        <p>如用户在游戏内的违规行为给甲方或第三方造成损害的，用户应承担相应的法律责任，甲方有权针对自身的损害采取一切合理的行动，包括但不限于收回游戏虚拟物品等，甲方有权向用户索回损失。</p>
        <h3>二十一、 不可抗力</h3>
        <p>甲方对不可抗力导致的损失不承担责任。</p>
        <p>本协议所称不可抗力包括：天灾、法律法规或政府指令的变更，因网络服务特性而特有的原因，例如境内外基础电信运营商的故障、计算机、移动设备或互联网相关技术缺陷、互联网覆盖范围限制、计算机、移动设备病毒、黑客攻击等因素，及其他合法范围内的不能预见、不能避免并不能克服的客观情况。</p>
        <h3>二十二、条款变更 </h3>
        <p>1、甲方有权在必要的时候修改本协议条款，敬请用户定期查询有关内容。用户如继续使用本协议涉及的服务，则视为对修改内容的同意；用户在不同意修改内容的情况下，应当卸载指娱游戏软件、终止本协议并停止使用指娱游戏服务。</p>
        <p>2、本协议项下所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达用户。</p>
        <h3>二十三、其他约定</h3>
        <p>1、甲方所有发给用户的通知可通过游戏内、游戏官方网站或游戏官方论坛重要页面的公告、电子邮件或常规的电话、易信、信件等形式传送。同时，用户在此同意甲方可以向其电子邮箱发送商业信息。</p>
        <p>2、为避免争议，本协议涉及到的有关数据、有关技术方面的问题，用户同意以甲方服务器所储存的数据作为判断标准。甲方保证该数据的真实性。</p>
        <p>3、本协议所有条款的标题仅为方便阅读，本身并无实际涵义，不能作为本协议及相关条款涵义解释的依据。</p>
        <p>4、如本协议中的任何条款因任何原因被判定为完全或部分无效或不具有执行力的，本协议的其他条款仍应有效并且有执行力。</p>
        <p>5、甲方不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响甲方在将来行使该权利。</p>
        <p>6、如本协议中的任何条款，无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍继续有效并且有约束力。</p>
        <p>7、本协议中的标题仅为方便而设，不具法律或契约效果。</p>
        <h3>二十四、法律管辖</h3>
        <p>1、本协议的订立、执行和解释及争议的解决均应适用中国法律。</p>
        <p>2、双方就本协议内容或其执行发生任何争议，双方应友好协商解决；协商不成时，任何一方均可向甲方所在地的人民法院提起诉讼。</p>
	</section>
	<script src="file:///android_asset/js/base.js"></script>
</body>
</html>