<footer>
    <div class="footer-innerbox">
        <div>
            <div>关于我们</div>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
        </div>
        <div>
            <div>联系我们</div>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
        </div>
        <div>
            <div>招贤纳士</div>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
        </div>
        <div>
            <div>客服&反馈</div>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
        </div>
        <div>
            <div>网站地图</div>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
            <a href="#">关于我们</a>
        </div>
    </div>
    <div class="copyright">{$siteInfo.IPC_INFO}</div>
</footer>