<footer>
    <div class="footer-innerbox">
        <div>
            <div>关于我们</div>
            <a href="{:U('Home/Index/about_us')}">关于我们</a>
            <a href="{:U('Home/Index/about_us')}">关于我们</a>
            <a href="{:U('Home/Index/about_us')}">关于我们</a>
        </div>
        <div>
            <div>联系我们</div>
            <a href="{:U('Home/Index/contact_us')}">联系我们</a>
            <a href="{:U('Home/Index/contact_us')}">联系我们</a>
            <a href="{:U('Home/Index/contact_us')}">联系我们</a>
        </div>
        <div>
            <div>招贤纳士</div>
            <a href="{:U('Home/Index/join_us')}">招贤纳士</a>
            <a href="{:U('Home/Index/join_us')}">招贤纳士</a>
            <a href="{:U('Home/Index/join_us')}">招贤纳士</a>
        </div>
        <div>
            <div>客服&反馈</div>
            <a href="{:U('Home/Index/customer_service')}">客服&反馈</a>
            <a href="{:U('Home/Index/customer_service')}">客服&反馈</a>
            <a href="{:U('Home/Index/customer_service')}">客服&反馈</a>
        </div>
        <div>
            <div>网站地图</div>
            <a href="{:U('Home/Index/sitemap')}">网站地图</a>
            <a href="{:U('Home/Index/sitemap')}">网站地图</a>
            <a href="{:U('Home/Index/sitemap')}">网站地图</a>
        </div>
    </div>
    <div class="copyright">{$siteInfo.IPC_INFO}</div>
</footer>
<script src="__PUBLIC__/Home/static/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/Home/static/js/jquery.form.js"></script>
<script src="__PUBLIC__/Home/static/js/register.js"></script>
<script src="__PUBLIC__/Home/static/js/pc-acinfo.js"></script>
<include file='Common:register'/>