<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/Home/static/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/static/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/static/gulp/lessToCss/base.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/static/css/alert.css">
    <title><if condition='empty($siteTitle)'>{$siteInfo.SITE_SEO_TITLE}<else />{$siteTitle}</if></title>
    <meta name="keywords" content="<if condition='empty($siteKeyword)'>{$siteInfo.SITE_SEO_KEYWORD}<else />{$siteKeyword}</if>">
    <meta name="description" content="<if condition='empty($siteDescription)'>{$siteInfo.SITE_SEO_DESCRIPTION}<else />{$siteDescription}</if>">
</head>