<div class="nav">
    <div><img alt="logo" src="__PUBLIC__/Home/static/img/logo.png"></div>
    <div class="nav-nav">
        <a class="active" href="index.html">首页</a>
        <a href="../gameStore/index.html">游戏库</a>
        <a href="../newsCenter/index.html">资讯中心</a>
        <a>模拟器</a>
    </div>
    <div class="nav-search">
        <div class="nav-search-input">
            <img alt="" src="__PUBLIC__/Home/static/img/search.png" class="search-img">
            <input type="text" class="nav-search-input1">
            <input type="button" value="搜索" class="nav-search-input2">
        </div>
        <div class="nav-advice">
            <a>王者荣誉</a>
            <a>我有上将</a>
            <a>王者荣誉</a>
            <a>我有上将</a>
        </div>
    </div>
</div>