<div class="nav">
    <div><img alt="logo" src="__PUBLIC__/Home/static/img/logo.png"></div>
    <div class="nav-nav">
        <a <if condition="CONTROLLER_NAME eq 'Index' ">class="active"</if> href="/">首页</a>
        <a <if condition="(CONTROLLER_NAME eq 'App') OR (CONTROLLER_NAME eq 'Rank') OR (CONTROLLER_NAME eq 'Gift') OR (CONTROLLER_NAME eq 'Search')">class="active"</if> href="{:U('Home/App/index')}">游戏库</a>
        <a <if condition="CONTROLLER_NAME eq 'Article' ">class="active"</if> href="{:U('Home/Article/index')}">资讯中心</a>
        <a style="opacity: 0">模拟器</a>
    </div>
    <include file='Common:nav_search'/>
</div>