<include file='Common:meta'/>
<title>游戏列表</title>
</head>
<body>
<nav class="breadcrumb">
    游戏列表
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th>游戏ID</th>
            <th>游戏名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody_data">
        <volist name="app_list" key="i" id="val">
            <tr class="text-c">
                <td>{$val.app_id}</td>
                <td>{$val.app_name}</td>
                <td>
                    <a title="管理专题"
                       href="{:U('Admin/ArticleLib/column_list/app_id/'.$val[app_id])}"
                       class="btn btn-success radius" style="text-decoration:none">
                        <i class="Hui-iconfont Hui-iconfont-edit"></i>管理专题
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>

    <div id="page" class="r"></div>
    <div id="div_pagesize" class="r">
        <span>每页显示：<input type="text" class="radius" size="1" value="{$pagesize}" id="pagesize"/>&nbsp;条<a href="javascript:void(0);" style="border: 1px solid #ddd;padding:1px 4px 4px 4px;margin: 0 3px 6px;" id="page_go">Go</a></span>
    </div>
</div>
<include file='Common:footer' />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.ui/jquery-ui.min.js"></script>
<script type="text/javascript">
    var pages = "{$pages}";
    if(parseInt(pages) > 1)
    {
        $("#div_pagesize").show();
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
            pages: {$pages}, //通过后台拿到的总页数
            curr: {$page}, //初始化当前页

            jump: function(e, first){ //触发分页后的回调
                if(!first) { //一定要加此判断，否则初始时会无限刷新
                    var pagesize = $("#pagesize").val();
                    var url = "{:U('Admin/ArticleLib/app_list/p/"+e.curr+"/pagesize/"+pagesize+"/_param_')}";
                    var param = '{$param}';
                    var new_url = url.replace('/_param_', param);
                    window.location.href = new_url;
                }
            }
        });
    }
    $('#page_go').click(function () {
        var page_size = $('#pagesize').val();
        var url = "{:U('Admin/ArticleLib/app_list/p/1/pagesize/"+page_size+"/_param_')}";
        var param = '{$param}';
        var new_url = url.replace('/_param_', param);
        window.location.href = new_url;
    });

</script>
</body>
</html>