<include file='Common:meta'/>
<link rel="stylesheet" href="__PUBLIC__/H-ui/lib/vue/index.css">
<title>游戏栏目列表</title>
</head>
<body>
<nav class="breadcrumb">
    游戏专题>{$appName}
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20 text-c" id="search-game">
        <!--<form id="search-game-form" action="{:U('Admin/ArticleLib/column_list')}" method="post">-->
            <!--<el-autocomplete-->
                    <!--class="inline-input"-->
                    <!--v-model="app_name"-->
                    <!--:fetch-suggestions="querySearch"-->
                    <!--placeholder="请输入内容"-->
                    <!--@select="handleSelect"-->
                    <!--icon="close"-->
                    <!--:on-icon-click="closeIconClick"-->
            <!--&gt;</el-autocomplete>-->
            <!--<input id='app_id' type="hidden" name="app_id" value="" v-model="app_id" />-->
        <!--</form>-->
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r ml-10">
            <a href="{:C('URL.ZHIYU_ADMIN_URL').U('Admin/Articlelib/add_article')}" class="btn btn-success radius"><i class="Hui-iconfont Hui-iconfont-add"></i> 添加文章</a>
        </span>
        <span class="r">
            <a title="新增栏目" href="javascript:;"
               onclick="layer_show('新增栏目','{:U(\'Admin/ArticleLib/top_column_add/app_id/\'.$appId)}', 400, 250)"
               class="btn btn-success radius" style="text-decoration:none">
                <i class="Hui-iconfont Hui-iconfont-add"></i> 新增栏目
            </a>
            <a title="seo编辑" href="javascript:;"
               onclick="seo_edit('seo编辑','{:U(\'Admin/ArticleLib/advance_seo_edit/app_id/\'.$appId)}', 500, 400)"
               class="btn btn-success radius" style="text-decoration:none">
                <i class="Hui-iconfont Hui-iconfont-edit"></i> 高级设置
            </a>
        </span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th>ID</th>
            <th>栏目名称</th>
            <th>排序</th>
            <th>操作人</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody_data">
        <volist name="column" key="i" id="parentVal">

            <tr class="text-c">
                <td>{$parentVal.catid}</td>
                <td class="text-l">
                    <span name="title" data-id="{$parentVal.catid}" data-val="{$parentVal.cat_name}" title="点击编辑名称">{$parentVal.cat_name}</span>(<span class="text-l" style="color: red;">{$parentVal.total_num}</span>)
                </td>
                <td>
                    <if condition="$parentVal[self_sort] eq 99999999">
                        --
                        <else />
                        {$parentVal.self_sort}
                    </if>
                </td>
                <td>
                    <if condition="empty($parentVal[nickname])">
                        --
                        <else />
                        {$parentVal.nickname}
                    </if>

                </td>
                <td>
                    <a title="添加子栏目" href="javascript:;"
                       onclick="layer_show('添加子栏目','{:U(\'Admin/ArticleLib/child_column_add/app_id/\'.$appId.\'/cat_id/\'.$parentVal[catid])}', 400, 350)"
                       class="btn btn-success radius" style="text-decoration:none">
                        <i class="Hui-iconfont Hui-iconfont-add3"></i> 添加子栏目
                    </a>
                    <!--<a title="编辑"-->
                       <!--href="javascript:;"-->
                       <!--onclick="seo_edit('seo编辑','{:U(\'Admin/ArticleLib/column_seo_edit/app_id/\'.$appId.\'/cat_id/\'.$parentVal[catid])}', 600, 550)"-->
                       <!--class="btn btn-success radius" style="text-decoration:none">-->
                        <!--<i class="Hui-iconfont Hui-iconfont-edit"></i>seo编辑-->
                    <!--</a>-->
                </td>
            </tr>
            <if condition="$parentVal['has_child'] eq 1">
                <volist name="parentVal['cat_child']" key="i" id="childVal">
                    <tr class="text-c">
                        <td>{$childVal.catid}</td>
                        <td class="text-l">
                            -- <span name="title" data-id="{$childVal.catid}" data-val="{$childVal.cat_name}" title="点击编辑名称">{$childVal.cat_name}</span>(<span style="color: red;">{$childVal.total_num}</span>)
                        </td>
                        <td>
                            <php>
                                if(!empty($childVal['sort_rank'])){
                                    $sortVal = $childVal['sort_rank'];
                                }else{
                                    if($childVal['self_sort'] == 99999999){
                                        $sortVal = '--';
                                    }else{
                                        $sortVal = $childVal['self_sort'];
                                    }
                                }
                            </php>
                            <span name="c_sort" data-id="{$childVal.arcid}" data-val="{$sortVal}" data-appid="{$appId}"  data-catid="{$childVal.catid}" title="点击编辑排序">
                                {$sortVal}
                            </span>
                        </td>
                        <td>
                            <if condition="empty($childVal[nickname])">
                                --
                                <else />
                                {$childVal.nickname}
                            </if>
                        </td>
                        <td>
                            <a title="文章列表" href="{:U('Admin/ArticleLib/article_list/app_id/'.$appId.'/cat_id/'.$childVal[catid])}" class="btn btn-success radius"><i class="Hui-iconfont Hui-iconfont-menu"></i> 文章列表</a>
                            <!--<a title="编辑"-->
                               <!--href="javascript:;"-->
                               <!--onclick="seo_edit('seo编辑','{:U(\'Admin/ArticleLib/column_seo_edit/app_id/\'.$appId.\'/cat_id/\'.$childVal[catid])}', 600, 550)"-->
                               <!--class="btn btn-success radius" style="text-decoration:none">-->
                                <!--<i class="Hui-iconfont Hui-iconfont-edit"></i> seo编辑-->
                            <!--</a>-->
                        </td>
                    </tr>
                </volist>
            </if>
        </volist>
        </tbody>
    </table>
</div>
<include file='Common:footer' />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/myjs/myjs.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/vue/vue.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/vue/index.js"></script>
<script type="text/javascript">

    /*编辑按钮点击弹框*/
    function seo_edit(title, url, w, h){
        layer_show(title, url, w, h);
    }


    // 绑定修改单元
    var ajax_change_name_url = "{:U('Admin/ArticleLib/column_name_edit')}";
    var ajax_change_sort_url = "{:U('Admin/ArticleLib/column_sort_edit')}";
    bind_ajax_change_value("[name='title']", "data-id", "data-val", 24, "title", ajax_change_name_url);
    bind_ajax_change_sort("[name='c_sort']", "data-id", "data-val", 24, "c_sort", ajax_change_sort_url, success_callback);
    // 成功回调函数
    function success_callback() {
        window.location.reload();
    }

    /**
     * 重新定义绑定修改单元的方法，用于修改排序
     * @param BindTarget
     * @param datatag
     * @param dataval
     * @param sub_len
     * @param field_tag
     * @param ajax_url
     * @param success_callback
     * @returns {boolean}
     */
    function bind_ajax_change_sort(BindTarget, datatag, dataval, sub_len, field_tag, ajax_url, success_callback) {
        if (datatag == '' || dataval == '' || field_tag == '' || ajax_url == '') {
            return false;
        }
        sub_len = parseInt(sub_len);
        sub_len = isNaN(sub_len) ? 0 : sub_len;
        // 绑定列表鼠标移过改变背景颜色的事件
        $(BindTarget).mouseover(function () {
            $(this).addClass("ajax_edit");
        });
        $(BindTarget).mouseout(function () {
            $(this).removeClass("ajax_edit");
        });
        // 绑定容器点击事件
        $(BindTarget).click(function () {
            // 获取容器标签对象
            var this_obj = $(this);
            // 获取数据库中要修改的那条记录的标识
            var data_tag_value = this_obj.attr(datatag);

            //栏目所属的游戏id
            var data_app_id = this_obj.attr('data-appid');
            if (data_app_id == '') {
                alert("对不起，您的参数错误！请刷新页面后重试！");
                return false;
            }
            //栏目id
            var data_cat_id = this_obj.attr('data-catid');
            if (data_cat_id == '') {
                alert("对不起，您的参数错误！请刷新页面后重试！");
                return false;
            }
            // 获取原始的完整值
            var data_value = this_obj.attr(dataval);
            // 获取窗口标签的父级标签的宽度
            var this_parent_width = this_obj.parent().width() - 4;
            // 加入input标签
            this_obj.html('<input type="text" style = "width:' + this_parent_width + 'px;" value ="" class="input-text radius size-MINI" />');
            // 获取input对象
            var input_obj = this_obj.children('input').first();
            // 把值写进input
            input_obj.val(data_value);
            // 把焦点定位到input
            input_obj[0].focus();
            // 防止冒泡事件
            input_obj.click(function (e) {
                e.stopPropagation();
            });
            // 绑定input的回车事件
            input_obj.keydown(function (e) {
                if (e.which == 13) {
                    input_obj[0].blur();
                    e.stopPropagation();
                }
            });
            // 绑定文本框失去焦点事件
            input_obj.blur(function () {
                // 取出input值
                var param = $(this).val();
                // ajax处理
                if (param == data_value) {
                    // 如果没有进行过修改，直接返回
                    bind_ajax_change_value_Respones({
                        "error": false,
                        "info": "",
                        "new_value": data_value
                    }, this_obj, data_value, dataval, sub_len, "");
                }
                else {
                    // 如果有做了修改，进行ajax处理
                    var record_id = data_tag_value;

                    var field_value = param;
                    var data = $.ajax({
                        url: ajax_url,
                        global: false,
                        type: "POST",
                        data: ({record_id: record_id, field_tag: field_tag, field_value: field_value, app_id:data_app_id, cat_id:data_cat_id}),
                        dataType: "json",
                        async: false
                    }).responseText;
                    bind_ajax_change_value_Respones(eval('(' + data + ')'), this_obj, data_value, dataval, sub_len, success_callback);
                }
            });
        });
    }

</script>
<script>
    new Vue({
        el: '#search-game',
        data: function () {
            return {
                loading: false,
                options: [],
                app_id: '{$appId}',
                app_name: '{$appName}'
            }
        },
        mounted: function () {
            this.options = this.getList();
        },
        methods:{
            handleSelect:function(item) {
                //设置表单的值
                this.app_id = item.app_id;
                this.app_name = item.app_name;
                //执行表单提交
                $('#app_id').val(this.app_id);
                $('#search-game-form').submit();
            },
            querySearch:function(queryString, cb) {
                var options = this.options;
                var results = queryString ? options.filter(this.createFilter(queryString)) : options;
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createFilter:function(queryString) {
                return (options) => {
                    return (options.app_name.indexOf(queryString.toLowerCase()) === 0);
                };
            },
            closeIconClick:function(ev) {
                this.app_id = '';
                this.app_name = '';
            },
            getList:function(){
                var obj = this;
                $.post("{:U('Admin/ArticleLib/ajax_get_app_info')}",{app_id:''},function(res){
                    if(res.error){
                        layer.alert(res.detail, {
                            skin: 'layui-layer-lan',
                            closeBtn: 0,
                            anim: 4 //动画类型
                        });
                    }else{
                        obj.options = res.data
                    }
                });
            }
        }
    });
</script>
</body>
</html>