<include file='Common:meta' />
<link href="__PUBLIC__/H-ui/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/H-ui/lib/vue/index.css">
<title>添加顶级栏目</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-edit">
        <input type="hidden" value="{$appId}" name="app_id" />
        <div class="row cl">
            <label class="form-label col-md-4 col-xs-4 col-sm-4 text-r">栏目名称：</label>
            <div class="formControls col-md-6 col-xs-8 col-sm-8">
                <input type="text" class="input-text app_list_sort" value="" placeholder="请输入栏目名称" name="cat_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-md-4 col-xs-4 col-sm-4 text-r">栏目排序：</label>
            <div class="formControls col-md-6 col-xs-8 col-sm-8">
                <input type="text" class="input-text app_list_sort" value="" placeholder="请输入栏目排序" name="sort">
            </div>
        </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<include file='Common:footer' />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/vue/vue.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/vue/index.js"></script>
<script type="text/javascript">
    $("#form-admin-edit").validate({
        rules: {
            app_id: {
                required: true,
                number: true
            },
            cat_name: {
                required: true,
                maxlength: 10
            },
            sort: {
                number: true
            }
        },
        onkeyup: false,
        focusCleanup: true,
        success: "valid",
        submitHandler: function (form) {
            //$(form).find(":submit").attr("disabled", true).attr("value", "提交中...");
            $(form).ajaxSubmit({
                type: "post",  //提交方式
                dataType: "json", //数据类型
                data: {},
                url: "{:U('Admin/ArticleLib/top_column_add')}", //请求url
                success: function (data) { //提交成功的回调函数
                    if (data.error) {
                        $(form).find(":submit").attr("disabled", false).attr("value", "提交");
                    }
                    layer.alert(data.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4 //动画类型
                    });
                    //					layer.msg(data.info, {icon: 6,time:2000});
                    window.parent.location.reload();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            });
        }
    });
</script>
</body>
</html>