<!DOCTYPE html>
<html lang="en">
<head>
    <include file='Common:header'/>
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_4he6muc0tua0pb9.css">-->
    <!--2017-7-6！！！！！！！！！！！！！！！！！-->
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_7hq35kn0ha7nwmi.css">-->
    <style>
        .game-store-box .gs-rank-container .for-flexbox .rank-icon-tag{
            width: 190px;
        }
    </style>
</head>
<body>
<!--头部注册栏开始-->
<include file='Common:head_bar'/>
<!--头部注册栏结束-->
<!--菜单栏开始-->
<include file='Common:nav'/>
<!--菜单栏end-->
<!--子导航栏开始-->
<div class="game-store-subnav">
    <div class="subnav-box">
        <a class="active" href="{:U('Home/App/index')}">游戏库</a>
        <a href="{:U('Home/Rank/app_rank')}">热游排行榜</a>
        <a href="{:U('Home/Gift/index')}">礼包中心</a>
    </div>
</div>
<!--子导航栏结束-->
<!--主体内容更开始-->
<main class="game-store-box">
    <div class="bread-tag">
        <img src="__PUBLIC__/Home/static/img/dengpao.png" alt="">您现在的位置是：<a href="">游戏库</a>
    </div>
    <div id="app-list">

    </div>
</main>
<!--主体内容结束-->
<!--友情链接开始-->
<include file='Common:friend_link'/>
<!--友情链接结束-->
<!--底部导航开始-->
<include file='Common:footer'/>
<!--底部导航结束-->
<script>
    $.ajax({
        type: 'POST',
        url: "{:U('Home/App/index')}" ,
        dataType:'json',
        data:{app_type: '{$appSecondType}'},
        async : false, //默认为true 异步
        success:function(res) {
            $('#app-list').empty().html(res);
        },
        error : function() {
        }
    });
    $(function () {

    });
</script>
</body>
</html>