<!DOCTYPE html>
<html lang="en">
<head>
    <include file='Common:header'/>
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_4he6muc0tua0pb9.css">-->
    <!--2017-7-6！！！！！！！！！！！！！！！！！-->
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_7hq35kn0ha7nwmi.css">-->
</head>
<body class="bodygiftCenter">
<!--头部注册栏开始-->
<include file='Common:head_bar'/>
<!--头部注册栏结束-->
<!--菜单栏开始-->
<include file='Common:nav'/>
<!--菜单栏end-->
<!--子导航栏开始-->
<div class="game-store-subnav">
    <div class="subnav-box">
        <a href="{:U('Home/Gift/index')}" target="_blank" class="active">礼包中心</a>
        <a href="{:U('Home/Gift/all_gift')}" target="_blank">礼包大全</a>
        <a href="#" target="_blank">我的礼包</a>
    </div>
</div>
<!--子导航栏结束-->
<!--主体内容开始-->
<main class="hotgame-rank">
    <div class="bread-tag">
        <img src="__PUBLIC__/Home/static/img/dengpao.png" alt="">您现在的位置是：<a href="{:U('Home/App/index')}">游戏库</a><span>></span><a href="{:U('Home/Gift/index')}">礼包中心</a><span>></span>礼包中心
    </div>
    <div class="lunbo-and-gameshow">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <if condition="count($slideList) gt 0">
                    <volist name="slideList" id="slide">
                        <a href="{$slide.url}" class="swiper-slide" <if condition="$slide['open_type'] eq 2">target="_blank"</if>><img src="{$slide.slide_img|format_url}" alt=""></a>
                    </volist>
                    <else />
                    <a class="swiper-slide"><img src="__PUBLIC__/Home/static/img/giftcenter-banner.png" alt=""></a>
                </if>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination" style="bottom:18px;"></div>
        </div>
        <if condition="count($adList) gt 0">
            <a href="{$adList[0][slide_url]}" class="gameshow">

                <div class="img-show"><img src="{$adList[0][slide_pic]|format_url}" alt=""></div>
                <div class="desp"><span>重磅：</span>{$adList[0][slide_name]}</div>
            </a>
        </if>
    </div>
    <if condition="count($hotGiftList) gt 0">
        <div class="title"><span></span>热门礼包</div>
        <div class="gift-box">
            <volist name="hotGiftList" id="hotGift">
                <a href="{:U('Home/Gift/gift_page', array('app_id' => $hotGift['app_id']))}">
                    <div class="gift-tag">
                        <div class="icon-and-name">
                            <div class="icon"><img alt="" src="{$hotGift.icon|format_url}"></div>
                            <div class="name">
                                <div class="self">{$hotGift.app_name}</div>
                                <div class="get">立即领取</div>
                            </div>
                        </div>
                        <div class="desp-and-icon">
                            <div>{$hotGift.latest_gift}</div>
                            <if condition="$hotGift['platform'] eq 1">
                                <div><img alt="" src="__PUBLIC__/Home/static/img/anzhuo-icon.png"></div>
                            </if>
                            <if condition="$hotGift['platform'] eq 2">
                                <div><img alt="" src="__PUBLIC__/Home/static/img/apple-icon.png"></div>
                            </if>
                        </div>
                        <div class="percent">
                            <div class="yu">剩余礼包：
                                <div class="outer"><span class="inner"></span></div>
                            </div>
                            <div class="yu-num">{$hotGift.residue_rate}%</div>
                        </div>
                    </div>
                </a>
            </volist>
        </div>
    </if>
    <if condition = "count($newGiftList) gt 0">
        <div class="title"><span></span>新游礼包</div>
        <div class="gift-box">
            <volist name="newGiftList" id="newGift">
                <a href="{:U('Home/Gift/gift_page', array('app_id' => $newGift['app_id']))}">
                    <div class="gift-tag">
                        <div class="icon-and-name">
                            <div class="icon"><img alt="" src="{$newGift.icon|format_url}"></div>
                            <div class="name">
                                <div class="self">{$newGift.app_name}</div>
                                <div class="get">立即领取</div>
                            </div>
                        </div>
                        <div class="desp-and-icon">
                            <div>{$newGift.latest_gift}</div>
                            <if condition="$newGift['platform'] eq 1">
                                <div><img alt="" src="__PUBLIC__/Home/static/img/anzhuo-icon.png"></div>
                            </if>
                            <if condition="$newGift['platform'] eq 2">
                                <div><img alt="" src="__PUBLIC__/Home/static/img/apple-icon.png"></div>
                            </if>
                        </div>
                        <div class="percent">
                            <div class="yu">剩余礼包：
                                <div class="outer"><span class="inner"></span></div>
                            </div>
                            <div class="yu-num">{$newGift.residue_rate}%</div>
                        </div>
                    </div>
                </a>
            </volist>
        </div>
    </if>
    <!--其他礼包开始-->
    <div id="other-gift-list">

    </div>
    <!--其他礼包结束-->
</main>
<!--主体内容结束-->
<!--友情链接开始-->
<include file='Common:friend_link'/>
<!--友情链接结束-->
<!--底部导航开始-->
<include file='Common:footer'/>
<!--底部导航结束-->
<script src="__PUBLIC__/Home/static/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/Home/static/js/swiper-3.4.2.min.js"></script>
<script>
    $(function () {

        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            autoplay:2000,
            // 如果需要分页器
            pagination: '.swiper-pagination'
        });



        //根据百分比来定长度
        $(".inner").each(function (i,self) {
            var newWidth=$(self).parents(".yu").next().text();
            $(self).css("width",newWidth);
        });

        //ajax方式获取其他礼包分页列表
        $.ajax({
            type: 'POST',
            url: "{:U('Home/Gift/ajax_get_index_other_gift_list')}",
            dataType: 'json',
            data: {app_ids: '{$appIdStr}'},
            async: false, //默认为true 异步
            success: function (res) {
                $('#other-gift-list').empty().html(res);
            },
            error: function () {
            }
        });

    })
</script>
</body>
</html>