<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/H-ui/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/H-ui/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>指娱游戏 - 后台管理系统</title>
<meta name="keywords" content="">
<meta name="description" content="">
<style type="text/css">
    .fsyz-btn {
      min-height: 28px;
      margin-right: 10px;
      min-width: 100px;
      color: red;
      background: #1b75b6;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      border: 1px solid #106bab;
      border-radius: 3px;
      padding: 4px 5px 4px 10px;
      display: inline-block;
      cursor: pointer;
      font-size: 100%;
      line-height: normal;
      text-decoration: none;
      overflow: visible;
      vertical-align: middle;
      text-align: center;
      zoom: 1;
      white-space: nowrap;
      font-family: inherit;
      letter-spacing: 5px;
      margin-left: 10px;
      padding: 5px;
    }
</style>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal" id="loginform" method="post" name="loginform" action="{:U('Index/do_login')}" onSubmit="return to_login();" >
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input id="username" name="username" type="text" placeholder="账户" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input id="password" name="password" type="password" placeholder="密码" class="input-text size-L">
        </div>
      </div>
      <if condition="$admin_login_captcha eq 1">
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input id="phonecode" name="phonecode" class="input-text size-L" type="text" placeholder="手机验证码" style="width:150px;">
          <a href="javascript:;" style = "color:white;" class="fsyz-btn" left_time=""  id="captcha_btn"/>发送验证码</a>
          </div>
      </div>
      </if>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input id="verifycode" name="verifycode" class="input-text size-L" type="text" placeholder="验证码" style="width:150px;">&nbsp;&nbsp;
          <img id="code_img" src="{:U('Index/get_verify')}"> <a id="kanbuq" href="javascript:document.getElementById('code_img').src='/index.php/Admin/Index/get_verify?rand='+Math.random();void(0);">看不清，换</a> </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
          <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright © 2017 - 2020 指娱游戏 版权所有 <a href="http://www.zhiyugame.com" target="_blank">zhiyugame.com</a></div>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/h-ui/js/H-ui.js"></script>
<script>
$(function(){
    $("#captcha_btn").click(function(){
        ajax_send_captcha();
    });
    setInterval("time()",1000);
});

function to_login () {
    if($('#username').val()==''){
        $('#username').focus();
        return false;
    }
    if($('#password').val()==''){
        $('#password').focus();
        return false;
    }
    if($('#verifycode').val()==''){
        $('#verifycode').focus();
        return false;
    }
    if($('#phonecode').val()==''){
        $('#phonecode').focus();
        return false;
    }
    return true;
}

        
function time(){
    var left_time = $("#captcha_btn").attr("left_time");

    if(left_time == 0 || left_time == ""){
        $("#captcha_btn").text("发送验证码");
        $("#captcha_btn").attr("left_time",0);
        $("#captcha_btn").css("cursor","");
    }else{
        $("#captcha_btn").text("重新发送("+left_time+")");
        $("#captcha_btn").css("cursor","text");
        left_time--;
        $("#captcha_btn").attr("left_time",left_time);
    }

}

//发送验证码
function ajax_send_captcha(){
    if($("#captcha_btn").attr("left_time") != "" && $("#captcha_btn").attr("left_time") != 0){
        return false;
    }
    
    var username = $("#username").val();
    if(username == ''){ 
        alert("请填写用户名账户！！");
        return false;
    }
    
   $.post("{:U('Index/send_captcha')}",{username:username},function(res){
        if(res.status){
            $("#captcha_btn").attr("left_time",res.time);
        }else{
            alert(res.msg);
        }
    },'json');
}
</script>
</body>
</html>