<!DOCTYPE html>
<html lang="en">
<head>
    <include file='Common:header'/>
    <link rel="stylesheet" href="__PUBLIC__/Home/static/css/pc.css">
</head>
<body>
<!--头部注册栏开始-->
<include file='Common:head_bar'/>
<!--头部注册栏结束-->
<!--菜单栏开始-->
<include file='Common:ucenter_nav'/>
<!--菜单栏end-->
<!--主体内容更开始-->
<main class="pc-index">
    <div class="pc-bodys">
        <div class="pc-b bread-tag">
            <img src="__PUBLIC__/Home/static/img/dengpao.png" alt="">您现在的位置是：<a href="">指娱游戏</a><span>></span>个人中心
        </div>
        <div class="pc-container">
            <!--左侧菜单开始-->
            <include file='left_menu'/>
            <!--左侧菜单结束-->
            <!--右侧内容开始-->
            <div class="pc-content">
                <!--用户信息开始-->
                <include file='user_info_panel'/>
                <!--用户信息结束-->
                <!--其他信息容器开始-->
                <div>
                    <div class="pc-setpwd">
                        <form action="" id="setpwdform" class="formid3">
                            <label>旧密码:</label>
                            <input type="password" id="old_password" name="old_password" value=""><br>
                            <label>新密码:</label>
                            <input type="password" id="new_password" name="new_password" value="" placeholder="限6-16个字符"><br>
                            <label>确认新密码:</label>
                            <input type="password" id="new_password2" name="new_password2" placeholder="限6-16个字符"><br>
                            <button id="submit-pwd" class="pc-setpwdbtn">确定修改</button>
                        </form>
                    </div>
                </div>
                <!--其他信息容器结束-->
            </div>
            <!--右侧内容结束-->
        </div>
    </div>
</main>
<!--遮罩层开始-->
<div class="alert"></div>
<!--遮罩层结束-->
<!--签到日历开始-->
<include file='sign_calendar'/>
<!--签到日历结束-->
<!--主体内容结束-->
<!--友情链接开始-->
<include file='Common:friend_link'/>
<!--友情链接结束-->
<!--底部导航开始-->
<include file='Common:footer'/>
<!--底部导航结束-->

<script>
    $(function() {
        $("#setpwdform").submit(function(e) {
            e.preventDefault();
        });

        $("#submit-pwd").click(function() {
            var oldPwd = $('#old_password').val();
            var newPwd = $('#new_password').val();
            var newPwd2 = $('#new_password2').val();
            var url = "{:U('Home/User/change_password')}";
            $.ajax({
                type: 'POST',
                url: url ,
                dataType:'json',
                data:{type: 1, old_password: oldPwd, new_password: newPwd, new_password2: newPwd2},
                async : false, //默认为true 异步
                success:function(res) {
                    if(res.error){
                        dialogInfo(res.detail);
                    }else{
                        dialogInfo(res.detail);
                    }
                },
                error : function() {
                    dialogInfo('未知错误', '', 1, true);
                }
            });
        })
    });

</script>
</body>
</html>