<div class="pc-menu">
    <a class="pc-label" href="javascript">账号管理</a>
    <a href="{:U('Home/User/index')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq index'>pc-active</if>" data-show="pc-accInfo">账号信息</a>
    <a href="{:U('Home/User/my_gift_list')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq my_gift_list'>pc-active</if>" data-show="pc-giftbag">我的礼包</a>
    <a href="{:U('Home/User/my_coupon_list')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq my_coupon_list'>pc-active</if>" data-show="pc-coupon">我的优惠券</a>
    <a href="{:U('Home/User/my_app_list')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq my_app_list'>pc-active</if>" data-show="pc-mygame">我的游戏</a>
    <a href="{:U('Home/User/exchange_code')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq exchange_code'>pc-active</if>" data-show="pc-cdkey">激活码兑奖</a>
    <a href="{:U('Home/User/my_notice_list')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq my_notice_list'>pc-active</if>" data-show="pc-mynews">我的消息</a>
    <a class="pc-label" href="#">安全管理</a>
    <a href="{:U('Home/User/modify_avatar')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq modify_avatar'>pc-active</if>" data-show="pc-photoset">修改头像</a>
    <a href="{:U('Home/User/change_username')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq change_username'>pc-active</if>" data-show="pc-setusername">修改用户名</a>
    <a href="{:U('Home/User/change_password')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq change_password'>pc-active</if>" data-show="pc-setpwd">修改密码</a>
    <a href="{:U('Home/User/bind_phone')}" class="pc-menua <if condition='strtolower(ACTION_NAME) eq bind_phone'>pc-active</if>" data-show="pc-setphone">绑定手机号</a>
</div>