<!DOCTYPE html>
<html lang="en">
<head>
    <include file='Common:header'/>
    <link rel="stylesheet" href="__PUBLIC__/Home/static/css/pc.css">
</head>
<body>
<!--头部注册栏开始-->
<include file='Common:head_bar'/>
<!--头部注册栏结束-->
<!--菜单栏开始-->
<include file='Common:ucenter_nav'/>
<!--菜单栏end-->
<!--主体内容更开始-->
<main class="pc-index">
    <div class="pc-bodys">
        <div class="pc-b bread-tag">
            <img src="__PUBLIC__/Home/static/img/dengpao.png" alt="">您现在的位置是：<a href="">指娱游戏</a><span>></span>个人中心
        </div>
        <div class="pc-container">
            <!--左侧菜单开始-->
            <include file='left_menu'/>
            <!--左侧菜单结束-->
            <!--右侧内容开始-->
            <div class="pc-content">
                <!--用户信息开始-->
                <include file='user_info_panel'/>
                <!--用户信息结束-->
                <!--其他信息容器开始-->
                <div>
                    <div class="pc-mygame">
                        <p>我的游戏</p>
                    </div>
                </div>
                <div class="pc-mynewspage">

                </div>
                <!--其他信息容器结束-->
            </div>
            <!--右侧内容结束-->
        </div>
    </div>
</main>
<!--遮罩层开始-->
<div class="alert"></div>
<!--遮罩层结束-->
<!--签到日历开始-->
<include file='sign_calendar'/>
<!--签到日历结束-->
<!--主体内容结束-->
<!--友情链接开始-->
<include file='Common:friend_link'/>
<!--友情链接结束-->
<!--底部导航开始-->
<include file='Common:footer'/>
<!--底部导航结束-->
<script>

    var firstUrl = "{:U('Home/User/my_app_list', array('p' => $currentPage))}";

    ajaxGetAppResult(firstUrl);

    function ajaxGetAppResult(url) {
        $.ajax({
            type: 'GET',
            url: url ,
            dataType:'json',
            async : false, //默认为true 异步
            success:function(res) {
                if(res.error){
                    dialogInfo(res.detail);
                }else{
                    if (typeof (res.data) !== 'undefined') {
                        var appList = res.data.app_list;
                        if(appList.length > 0){
                            var html = '<div>';
                            for(var i = 0; i < appList.length; i++){
                                html +=
                                    '<div>'+
                                        '<div>' +
                                            '<img src="' + appList[i].icon +' " alt="">' +
                                            '<p>' + appList[i].app_name + '</p>' +
                                        '</div>' +
                                    '</div>';
                            }
                            html += '</div>';
                            $('.pc-mygame').empty().append(html);
                            $('.pc-mynewspage').empty().html(res.data.show);
                            userCenterPageJump();
                        }
                    }
                }
            },
            error : function() {
                dialogInfo('未知错误');
            }
        });
    }
    //点击分页触发事件
    function userCenterPageJump() {
        $(".page-jump").on('click',function(){
            var pageObj = this;
            var url = $(pageObj).attr('data-href');
            ajaxGetAppResult(url);
        });
    }
</script>
</body>
</html>