<!DOCTYPE html>
<html lang="en">
<head>
    <include file='Common:header'/>
    <link rel="stylesheet" href="__PUBLIC__/Home/static/css/pc.css">
</head>
<body>
<!--头部注册栏开始-->
<include file='Common:head_bar'/>
<!--头部注册栏结束-->
<!--菜单栏开始-->
<include file='Common:ucenter_nav'/>
<!--菜单栏end-->
<!--主体内容更开始-->
<main class="pc-index">
    <div class="pc-bodys">
        <div class="pc-b bread-tag">
            <img src="__PUBLIC__/Home/static/img/dengpao.png" alt="">您现在的位置是：<a href="">指娱游戏</a><span>></span>个人中心
        </div>
        <div class="pc-container">
            <!--左侧菜单开始-->
            <include file='left_menu'/>
            <!--左侧菜单结束-->
            <!--右侧内容开始-->
            <div class="pc-content">
                <!--用户信息开始-->
                <include file='user_info_panel'/>
                <!--用户信息结束-->
                <!--其他信息容器开始-->
                <div>
                    <div class="pc-giftbag">
                    </div>
                </div>
                <!--其他信息容器结束-->
                <div class="pc-mynewspage">
                    <section class="pc-pageleft" style="background-image:url('../../static/img/pc-pageleft.png');"></section>
                    <div class="pagenum pc-pageactive">1</div>
                    <div class="pagenum">2</div>
                    <div class="pagenum">3</div>
                    <div class="pagenum">4</div>
                    <div class="pagenum">5</div>
                    <div class="pagenum">…</div>
                    <div class="pagenum">99</div>
                    <div class="pagenum">100</div>
                    <section class="pc-pageright" style="background-image:url('../../static/img/pc-pageright.png');"></section>
                </div>
            </div>
            <!--右侧内容结束-->
        </div>
    </div>
</main>
<!--遮罩层开始-->
<div class="alert"></div>
<!--遮罩层结束-->
<!--签到日历开始-->
<include file='sign_calendar'/>
<!--签到日历结束-->
<!--主体内容结束-->
<!--友情链接开始-->
<include file='Common:friend_link'/>
<!--友情链接结束-->
<!--底部导航开始-->
<include file='Common:footer'/>
<!--底部导航结束-->
<script>
    var fristUrl = "{:U('Home/User/my_gift_list', array('p' => $currentPage))}";
    ajaxGetGiftResult(fristUrl);

    function ajaxGetGiftResult(url) {
        $.ajax({
            type: 'GET',
            url: url ,
            dataType:'json',
            async : false, //默认为true 异步
            success:function(res) {
                if(res.error){
                    $('.pc-giftbag').empty().append(res.detail);
                }else{
                    if (typeof (res.data) !== 'undefined') {
                        var giftList = res.data.giftList;
                        if(giftList.length > 0){
                            var html = '';
                            for (var i = 0; i < giftList.length; i++){
                                var expire = '';
                                if(giftList[i].status == 3){
                                    expire = 'pc-gbgray';
                                }
                                html +=
                                    '<div class="pc-gbpic '+expire+'">'+
                                        '<div>'+
                                            '<section></section>'+
                                            '<div class="pc-gbpicbclor">' +
                                                '<img src="'+giftList[i].gift_icon+'" alt="">' +
                                            '</div>'+
                                            '<div>'+
                                                '<p>'+giftList[i].app_name+''+giftList[i].gift_name+''+giftList[i].original_name+'</p>'+
                                                '<p>礼包内容：'+giftList[i].gift_desc+'</p>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div>'+
                                            '<span>礼包码：'+giftList[i].gift_code+'</span></br>'+
                                            '</br>'+
                                            '有效日期：'+giftList[i].start_time+'至'+giftList[i].end_time+''+
                                        '</div>'+
                                    '</div>';
                            }
                            $('.pc-giftbag').empty().append(html);
                            $('.pc-mynewspage').empty().html(res.data.show);
                            userCenterPageJump();
                        }
                    }else{
                        $('.pc-giftbag').append(res.detail);
                    }
                }
            },
            error : function() {
            }
        });
    }

    //点击分页触发事件
    function userCenterPageJump() {
        $(".page-jump").on('click',function(){
            var pageObj = this;
            var url = $(pageObj).attr('data-href');
            ajaxGetGiftResult(url);
        });
    }
</script>
</body>
</html>