<div class="pc-tablealertcontent">
    <div class="pc-tablealert">
        <div class="pc-tablealert-up">
            <span class="taltyear">2017</span>年<span class="taltmonth">3</span>月
            <section class="talticonleft"></section>
            <section class="talticonright"></section>
        </div>
        <div class="pc-tablealert-down">
            <table class="pc-tablealert1" cellspacing="0">
                <caption style="color:#989898;font-size:16px;margin:15px 0;">连续签到<span class="taltday">6</span>天</caption>
                <thead>
                <tr>
                    <td>日</td>
                    <td>一</td>
                    <td>二</td>
                    <td>三</td>
                    <td>四</td>
                    <td>五</td>
                    <td>六</td>
                </tr>
                </thead>
            </table>
            <div class="table">
                <div class="tr">
                    <section><span></span></section>
                    <section><span></span></section>
                    <section><span></span></section>
                    <section><span>1</span></section>
                    <section><span>2</span></section>
                    <section><span>3</span></section>
                    <section><span>4</span></section>
                </div>
                <div class="tr">
                    <section><span>5</span></section>
                    <section><span>6</span></section>
                    <section><span>7</span></section>
                    <section><span>8</span></section>
                    <section><span>9</span></section>
                    <section><span>10</span></section>
                    <section><span>11</span></section>
                </div>
                <div class="tr">
                    <section><span>12</span></section>
                    <section><span>13</span></section>
                    <section><span>14</span></section>
                    <section><span>15</span></section>
                    <section><span>16</span></section>
                    <section><span>17</span></section>
                    <section><span>18</span></section>
                </div>
                <div class="tr">
                    <section data="19"><span>19</span></section>
                    <section><span>20</span></section>
                    <section><span>21</span></section>
                    <section><span>22</span></section>
                    <section><span>23</span></section>
                    <section><span>24</span></section>
                    <section><span>25</span></section>
                </div>
                <div class="tr">
                    <section><span>26</span></section>
                    <section><span>27</span></section>
                    <section><span>28</span></section>
                    <section><span>29</span></section>
                    <section><span>30</span></section>
                    <section><span>31</span></section>
                    <section><span></span></section>
                </div>
            </div>
        </div>
    </div>
</div>