<include file='Common:meta'/>
<title>图片轮播管理</title>
</head>
<body>
<nav class="breadcrumb">
    图片轮播管理
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="text-c">
            <form action="{:U('Admin/Slide/slide_list')}">
                标题名称：
                <input type="text" class="input-text" data-name="" style="width:250px" placeholder="输入标题名称" id="slide_name"
                       name="slide_name" value="{$slideName}">
                状态：
                <span class="select-box" style="width:100px;">
                    <select id="publish_status" name="publish_status" class="select" >
                        <option value="">请选择</option>
                        <option value="1" <if condition="1 eq $publishStatus">selected</if>>待上线</option>
                        <option value="2" <if condition="2 eq $publishStatus">selected</if>>已上线</option>
                        <option value="3" <if condition="3 eq $publishStatus">selected</if>>已下线</option>
                    </select>
                </span>
                <button name="submit" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont"></i> 搜索</button>
                <button name="reset" id="reset" class="btn btn-success"><i class="Hui-iconfont"></i> 重置</button>
            </form>
        </span>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">
            <a href="{:U('/Admin/Slide/slide_add', array('slide_cid' => $slideCid))}" class="btn btn-success radius">
                <i class="Hui-iconfont Hui-iconfont-add"></i> 添加</a>
        </span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th>ID</th>
            <th>标题名称</th>
            <th>所属分类</th>
            <th>上线时间</th>
            <th>图片</th>
            <th>操作人</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody_data">
        <volist name="slideList" key="i" id="val">
            <tr class="text-c">
                <td>{$val.slide_id}</td>
                <td>{$val.slide_name}</td>
                <td>{$val.cat_name}</td>
                <td>{$val.start_time|date='Y-m-d H:i:s', ###}-{$val.end_time|date='Y-m-d H:i:s', ###}</td>
                <td><img src="{$val.slide_pic|format_url}" alt="" style="width: 120px;height: 80px"></td>
                <td>{$val.nickname}</td>
                <td>{$val.publish_name}</td>
                <td>
                    <a title="编辑"
                       href="{:U('Admin/Slide/slide_edit', array('slide_id'=>$val[slide_id], 'slide_cid'=>$val[slide_cid]))}"
                       class="btn btn-success radius" style="text-decoration:none">
                        <i class="Hui-iconfont Hui-iconfont-edit2"></i>编辑
                    </a>
                    <if condition="$val[is_publish] eq 1">
                        <a title="下架"
                           href="javascript:;"
                           onclick="publish_status_change('确定要下架吗？', '{$val[slide_id]}')"
                           class="btn btn-success radius" style="text-decoration:none">
                            <i class="Hui-iconfont Hui-iconfont-xiajia"></i>下架
                        </a>
                        <else />
                        <a title="发布"
                           href="javascript:;"
                           onclick="publish_status_change('确定要发布吗？', '{$val[slide_id]}')"
                           class="btn btn-success radius" style="text-decoration:none">
                            <i class="Hui-iconfont Hui-iconfont-shangjia"></i>发布
                        </a>
                    </if>
                    <a title="删除"
                       href="javascript:;"
                       onclick="delete_status_change('确定要删除这条记录吗？', '{$val[slide_id]}')"
                       class="btn btn-success radius" style="text-decoration:none">
                        <i class="Hui-iconfont Hui-iconfont-del2"></i>删除
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>

    <div id="page" class="r"></div>
    <div id="div_pagesize" class="r">
        <span>每页显示：<input type="text" class="radius" size="1" value="{$pagesize}" id="pagesize"/>&nbsp;条<a href="javascript:void(0);" style="border: 1px solid #ddd;padding:1px 4px 4px 4px;margin: 0 3px 6px;" id="page_go">Go</a></span>
    </div>
</div>
<include file='Common:footer' />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.ui/jquery-ui.min.js"></script>
<script type="text/javascript">
    var pages = "{$pages}";
    var slideName = "{$slideName}";
    var publishStatus = '{$publishStatus}';

    if(parseInt(pages) > 1)
    {
        $("#div_pagesize").show();
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
            pages: {$pages}, //通过后台拿到的总页数
            curr: {$page}, //初始化当前页

            jump: function(e, first){ //触发分页后的回调
                if(!first) { //一定要加此判断，否则初始时会无限刷新
                    var pagesize = $("#pagesize").val();
                    var url = "{:U('Admin/Slide/slide_list/slide_name/"+slideName+"/publish_status/"+publishStatus+"/p/"+e.curr+"/pagesize/"+pagesize+"/_param_')}";
                    var param = '{$param}';
                    var new_url = url.replace('/_param_', param);
                    window.location.href = new_url;
                }
            }
        });
    }
    $('#page_go').click(function () {
        var page_size = $('#pagesize').val();
        var url = "{:U('Admin/Slide/slide_list/slide_name/"+slideName+"/publish_status/"+publishStatus+"/p/1/pagesize/"+page_size+"/_param_')}";
        var param = '{$param}';
        var new_url = url.replace('/_param_', param);
        window.location.href = new_url;
    });

    //活动上下操作
    function publish_status_change(message, slide_id) {
        layer.confirm(message, function (index) {
            //此处请求后台程序，下方是成功后的前台处理……
            $.get("{:U('Admin/Slide/public_status_change')}", {slide_id: slide_id}, function (result) {
                if (!result.error) {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                } else {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
            });
        });
    }

    //删除操作
    function delete_status_change(message, slide_id) {
        layer.confirm(message, function (index) {
            //此处请求后台程序，下方是成功后的前台处理……
            $.post("{:U('Admin/Slide/slide_delete')}", {slide_id: slide_id}, function (result) {
                if (!result.error) {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                } else {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
            });
        });
    }
    //搜索表单重置按钮
    $("#reset").click(function(){
        $("input[name=slide_name]").val('');
        $("select[name=publish_status]").val('');
    });
</script>
</body>
</html>