<!Doctype html>
<html lang="en">
<head>
    <include file='Common:meta' />
    <title>首页内容列表</title>
</head>
<body>
<nav class="breadcrumb">
    首页内容列表
    <span class="r">
        <a title="全部发布"
           href="javascript:;"
           onclick="publish_all()"
           class="btn btn-success radius" style="text-decoration:none">
            <i class="Hui-iconfont Hui-iconfont-shangjia"></i>全部发布
        </a>
        <a title="编辑分类"
           href="javascript:;"
           onclick="layer_show('编辑','{:U(\'Admin/IndexCont/category_edit/id/\'.$categoryId)}', 600, 550)"
           class="btn btn-success radius" style="text-decoration:none">
            <i class="Hui-iconfont Hui-iconfont-edit"></i>编辑分类
        </a>
        <a href="javascript:;" onclick="layer_show('添加','{:U(\'Admin/IndexCont/category_add\')}', 600, 550)" class="btn btn-success radius"><i class="Hui-iconfont Hui-iconfont-add2"></i>添加分类</a>
    </span>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="text-c">
            <form action="{:U('Admin/IndexCont/content_list')}" method="post">
                <input type="text" value="{$title}" name="title" placeholder=" 游戏名称" style="width:250px" class="input-text">
                <input type="hidden" value="{$categoryId}" name="category_id" placeholder=" " style="width:250px" class="input-text">
                <span class="select-box inline">
                    <select name="is_delete" class="select">
                        <option value="0">删除状态</option>
                        <option value="1" <if condition="$isDelete eq 1">selected</if>>正常</option>
                        <option value="2" <if condition="$isDelete eq 2">selected</if>>删除</option>
                    </select>
                </span>
                <span class="select-box inline">
                    <select name="is_publish" class="select">
                        <option value="0">发布状态</option>
                        <option value="1" <if condition="$isPublish eq 1">selected</if>>发布</option>
                        <option value="2" <if condition="$isPublish eq 2">selected</if>>下架</option>
                    </select>
                </span>
                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont"></i> 搜索</button>
                <button name="reset" id="reset" class="btn btn-success"><i class="Hui-iconfont"></i> 重置</button>
            </form>
        </span>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">
            <a href="javascript:;" onclick="app_add('添加内容','{:U(\'Admin/IndexCont/content_add/category_id/\'.$categoryId)}', 700, 680)" class="btn btn-success radius"><i class="Hui-iconfont Hui-iconfont-add"></i>添加内容</a>
        </span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th>ID</th>
            <th>游戏名称</th>
            <th>所属分类</th>
            <th>排序</th>
            <th>状态</th>
            <th>是否发布</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody_data">
        <volist name="imageList" key="i" id="val">
            <tr class="text-c">
                <td>{$val.id}</td>
                <td>{$val.title}</td>
                <td>{$val.category_name}</td>
                <td>{$val.sort}</td>
                <td>
                    <if condition="$val['is_delete'] eq 1">正常</if>
                    <if condition="$val['is_delete'] eq 2">删除</if>
                </td>
                <td>
                    <if condition="$val['is_publish'] eq 1">发布</if>
                    <if condition="$val['is_publish'] eq 2">下架</if>
                </td>
                <td>
                    <a title="编辑"
                       href="javascript:;"
                       onclick="app_edit('编辑图片','{:U(\'Admin/IndexCont/content_edit/id/\'.$val[id])}', 700, 700)"
                       class="btn btn-success radius" style="text-decoration:none">
                        <i class="Hui-iconfont Hui-iconfont-edit2"></i>编辑
                    </a>
                    <php>
                        if($val['is_delete'] == 1){
                            $statusMessage='确定要删除这条记录吗？';
                            $statusTips = '删除';
                        }else{
                            $statusMessage='确定要恢复这个记录吗？';
                            $statusTips = '恢复';
                        }
                        if($val['is_publish'] == 1){
                            $publishMessage='确定要下架这张图片？';
                            $publishTips = '下架';
                        }else{
                            $publishMessage='确定要发布这张图片吗？';
                            $publishTips = '发布';
                        }
                    </php>
                    <a title="{$publishTips}"
                       href="javascript:;"
                       onclick="publish_change('{$val[id]}','{$publishMessage}')"
                       class="btn btn-success radius" style="text-decoration:none">
                        <i class="Hui-iconfont Hui-iconfont"></i>{$publishTips}
                    </a>
                    <a title="{$statusTips}"
                       href="javascript:;"
                       onclick="status_change('{$val[id]}','{$statusMessage}')"
                       class="btn btn-success radius" style="text-decoration:none">
                        <i class="Hui-iconfont Hui-iconfont"></i>{$statusTips}
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>

    <div id="page" class="r"></div>
    <div id="div_pagesize" class="r">
        <span>每页显示：<input type="text" class="radius" size="1" value="{$pagesize}" id="pagesize"/>&nbsp;条<a href="javascript:void(0);" style="border: 1px solid #ddd;padding:1px 4px 4px 4px;margin: 0 3px 6px;" id="page_go">Go</a></span>
    </div>
</div>
<include file='Common:footer' />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>
    var title = "{$title}";
    var category_id = "{$categoryId}";
    var is_delete = "{$isDelete}";
    var is_publish = "{$isPublish}";

    var pages = "{$pages}";
    if(parseInt(pages) > 1)
    {
        $("#div_pagesize").show();
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
            pages: {$pages}, //通过后台拿到的总页数
            curr: {$page}, //初始化当前页

            jump: function(e, first){ //触发分页后的回调
                if(!first) { //一定要加此判断，否则初始时会无限刷新
                    var pagesize = $("#pagesize").val();
                    var url = "{:U('Admin/IndexCont/content_list/p/"+e.curr+"/pagesize/"+pagesize+"/_param_/title/"+title+"/category_id/"+category_id+"/is_delete/"+is_delete+"/is_publish/"+is_publish+"')}";
                    var param = '{$param}';
                    var new_url = url.replace('/_param_', param);
                    window.location.href = new_url;
                }
            }
        });
    }
    $('#page_go').click(function () {
        var page_size = $('#pagesize').val();
        var url = "{:U('Admin/IndexCont/content_list/p/1/pagesize/"+page_size+"/_param_/title/"+title+"/category_id/"+category_id+"/is_delete/"+is_delete+"/is_publish/"+is_publish+"')}";
        var param = '{$param}';
        var new_url = url.replace('/_param_', param);
        window.location.href = new_url;
    });

    /*编辑按钮点击弹框*/
    function app_edit(title, url, w, h) {
        layer_show(title, url, w, h);
    }
    /*添加按钮弹框*/
    function app_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    //删除或启用分类
    function status_change(id,message) {
        layer.confirm(message, function (index) {
            //此处请求后台程序，下方是成功后的前台处理……
            $.post("{:U('Admin/IndexCont/content_status_change')}", {id:id}, function (result) {
                if (!result.error) {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
                else {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
            });
        });
    }

    //删除或启用分类
    function publish_change(id,message) {
        layer.confirm(message, function (index) {
            //此处请求后台程序，下方是成功后的前台处理……
            $.post("{:U('Admin/IndexCont/publish_status_change')}", {id:id}, function (result) {
                if (!result.error) {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
                else {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
            });
        });
    }
    /**
     * 发布当前分类下的所有图片
     */
    function publish_all() {
        layer.confirm('确定要发布当前分类下的所有图片吗？', function (index) {
            //此处请求后台程序，下方是成功后的前台处理……
            $.post("{:U('Admin/IndexCont/publish_all')}", {category_id:category_id}, function (result) {
                if (!result.error) {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
                else {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
            });
        });
    }
    //搜索表单重置按钮
    $("#reset").click(function(){
        $("input[name=title]").val('');
        $("select[name=category_id]").val(category_id);
        $("select[name=is_delete]").val(0);
        $("select[name=is_publish]").val(0);
    });

    $(function() {

    });
</script>
</body>
</html>