<include file='Common:meta' />
<link href="__PUBLIC__/H-ui/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<title>自定义排序</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-edit">
        <input type="hidden" name="list_type" value="{$listType}"/>
        <input type="hidden" name="gift_id" value="{$giftId}">
        <div class="row cl">
            <label class="form-label col-md-4 col-xs-4 col-sm-4 text-r">当前排序：</label>
            <div class="formControls col-md-6 col-xs-8 col-sm-8">
                <if condition="$listType eq 1">
                    <p class="mt-5">
                        <if condition="empty($giftData[pre_hot_sort])">
                            0
                            <else />
                            {$giftData.pre_hot_sort}
                        </if>
                    </p>
                </if>
                <if condition="$listType eq 2">
                    <p class="mt-5" >
                        <if condition="empty($giftData[pre_new_sort])">
                            0
                            <else />
                            {$giftData.pre_new_sort}
                        </if>
                    </p>
                </if>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-md-4 col-xs-4 col-sm-4text-r">目标排序：</label>
            <div class="formControls col-md-6 col-xs-8 col-sm-8">
                <if condition="$listType eq 1">
                    <input type="text" class="input-text app_list_sort" value="" placeholder="排序" name="pre_sort">
                </if>
                <if condition="$listType eq 2">
                    <input type="text" class="input-text app_list_sort" value="" placeholder="排序" name="pre_sort">
                </if>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<include file='Common:footer' />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    $("#form-admin-edit").validate({
        rules: {
            list_type: {
                required: true,
                number: true
            },
            gift_id: {
                required: true,
                number: true
            },
            pre_sort: {
                required: true,
                number: true
            }
        },
        onkeyup: false,
        focusCleanup: true,
        success: "valid",
        submitHandler: function (form) {
            $(form).find(":submit").attr("disabled", true).attr("value", "提交中...");
            $(form).ajaxSubmit({
                type: "post",  //提交方式
                dataType: "json", //数据类型
                data: {},
                url: "{:U('Admin/Gift/gift_sort_edit')}", //请求url
                success: function (data) { //提交成功的回调函数
                    if (data.error) {
                        $(form).find(":submit").attr("disabled", false).attr("value", "提交");
                    }
                    layer.alert(data.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4 //动画类型
                    });
                    //					layer.msg(data.info, {icon: 6,time:2000});
                    window.parent.location.reload();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            });
        }
    });
</script>

</body>
</html>