<!Doctype html>
<html lang="en">
<head>
    <include file='Common:meta' />
    <link href="__PUBLIC__/H-ui/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet">
    <title>添加礼包轮播</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-add" novalidate="novalidate" action="{:U('Admin/Gift/gift_slide_add')}">
        <input type="hidden" class="input-text" value="{$showPosition}" placeholder="" id="show_position" name="show_position" style="width: 300px">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入标题名称" id="title" name="slide_title" style="width: 300px">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>轮播关联：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="mt-20 skin-minimal">
                    <div class="radio-box">
                        <input type="radio" value="1"  id="relation_type_1" name="relation_type" checked="checked">
                        <label for="relation_type_1">游戏礼包页</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" value="2"  id="relation_type_2" name="relation_type">
                        <label for="relation_type_2">礼包详情页</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span><span class="gift-info">游戏礼包列表</span></label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="app-title"></span>
                <span class="select-box" style="width: 200px">
                    <select id="app_id" name="app_id" class="select valid" aria-required="true" aria-invalid="false">
                        <option value="">请选择</option>
                        <volist name="appList" id="app">
                            <option value="{$app.app_id}">{$app.app_name}</option>
                        </volist>
                    </select>
                    <label id="app_id-error" class="error valid" style="display: block;"></label>
				</span>
                <span class="gift-box-info" style="display: none">
                    游戏礼包：
                    <span class="select-box" style="width: 200px">
                        <select id="gift_id" name="gift_id" class="select valid" aria-required="true" aria-invalid="false">
                        </select>
                        <label id="gift_id-error" class="error valid" style="display: block;"></label>
                    </span>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <!--图片上传-->
                <div id="uploader-banner">
                    <!--用来展示图片-->
                    <div id="imagePicture" class="uploader-list">

                    </div>
                    <div class="icon-btn-wrap mt-10">
                        <div id="imagePicker">选择图片</div>
                        <a id="imagePickerUploadBtn" class="btn btn-default">开始上传</a>
                        <span id="pic_info" style="color: #17983b;margin-top: 5px; " class="r">图片尺寸915*360，大小不超过1M</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>打开方式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 300px">
                    <select id="open_type" name="open_type" class="select valid" aria-required="true" aria-invalid="false">
                        <option value="1">当前标签页</option>
                        <option value="2">新建标签页</option>
                    </select>
                    <label id="open_type-error" class="error valid" style="display: block;"></label>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">轮播排序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入整数" id="sort" name="sort" style="width: 300px">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上架时间：</label>
            <div class="formControls col-xs-8 col-sm-4">
                <input onfocus="selectTime(1)" type="text" class="input-text Wdate" value="{$start_time|date='Y-m-d H:i:s', ###}" placeholder="" id="astart_time" name="start_time" style="width: 200px">-
                <input onfocus="selectTime(2)" type="text" class="input-text Wdate" value="{$end_time|date='Y-m-d H:i:s', ###}" placeholder="" id="end_time" name="end_time" style="width: 200px">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<include file='Common:footer' />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>

    $(function() {
        //表单验证
        $("#form-add").validate({
            rules: {
                slide_title: {
                    required: true
                },
                sort: {
                    required: true,
                    number: true
                },
                app_id: {
                    required: true
                }
            },
            messages: {
                slide_title: {
                    required: "请填写标题名称！"
                },
                sort: {
                    required: "请填写轮播排序",
                    remote: "请输入整数"
                },
                app_id: {
                    required: "请选择游戏"
                }
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                if(!is_image_success || no_upload_image || (is_update_image && !is_image_success)){
                    layer.alert('请上传图片', {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4 //动画类型
                    });
                    return false;
                }
                $(form).ajaxSubmit({
                    type: "post",  //提交方式
                    dataType: "json", //数据类型
                    data: {image_path:img_url_image[0]},
                    url: "{:U('Admin/Gift/gift_slide_add')}", //请求url
                    success: function (data) { //提交成功的回调函数
                        if (data.error) {
                            $(form).find(":submit").attr("disabled", false).attr("value", "提交");
                            layer.alert(data.detail, {
                                skin: 'layui-layer-lan',
                                closeBtn: 0,
                                anim: 4 //动画类型
                            });
                        } else {
                            layer.alert(data.detail, {
                                skin: 'layui-layer-lan' //样式类名
                                ,closeBtn: 0
                                ,anim: 4 //动画类型
                            }, function(){
                                window.location.replace("{$reloadUrl}");
                            });
                        }
                    }
                });

            }
        });

        //获取游戏游礼包
        var appId = $('#app_id').val();
        if( !(appId == ''|| typeof (appId) == 'undefined' || appId ==0) ){
            ajaxGetAppGift(appId);
        } else {
            $('#gift_id').empty();
        }

        //获取获取游戏礼包
        $('#app_id').change(function(){
            var appId = $(this).val();
            if( !(appId == ''|| typeof (appId) == 'undefined' || appId ==0) ){
                ajaxGetAppGift(appId);
            } else {
                $('#gift_id').empty();
            }
        });

        $('#relation_type_1').click(function(){
            $('.gift-info').empty().html('游戏礼包列表');
            $('.app-title').empty();
            $('.gift-box-info').hide();
        });
        $('#relation_type_2').click(function(){
            $('.gift-info').empty().html('礼包详情页：');
            $('.app-title').empty().html('游戏：');
            $('.gift-box-info').show();
        });

    });

    //获取获取指点游戏的礼包
    function ajaxGetAppGift(appId, giftId) {
        $.ajax({
            type: "post",  //提交方式
            dataType: "json", //数据类型
            data: {app_id:appId, gift_id: giftId},
            url: "{:U('Admin/Gift/ajax_get_gift_option')}", //请求url
            success: function (data) { //提交成功的回调函数
                if (!data.error) {
                    $('#gift_id').empty().html(data.data)
                }
            }
        });
    }

    /*活动开始时间与结束时间*/
    function selectTime(flag){
        if(flag==1){
            var endTime = $("#end_time").val();
            if(endTime != ""){
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:endTime})
            } else{
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})
            }
        }else{
            var startTime = $("#start_time").val();
            if (startTime != "") {
                WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss', minDate: startTime})
            } else {
                WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss'})
            }
        }
    }

    //关闭窗口
    function removeIframe(){
        var index = parent.layer.getFrameIndex(window.name);
        // parent.$('.btn-refresh').click();
        parent.layer.close(index);
    }
    //radio的样式
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
</script>
<script>
    /*上传背景图片*/
    var img_url_image = [];        // banner图片地址
    var is_image_success = false;  // banner图片上传是否成功
    var no_upload_image = true;    // 是否有上传banner图片文件
    var is_update_image = false;   // 是否有更新上传banner图片文件

    var imageThumbnailWidth = 300;       //缩略图宽度
    var imageThumbnailHeight = 150;      //缩略图高度
    // 初始化Web Uploader
    uploader_1 = WebUploader.create({
        auto: false,    //选完文件后，是否自动上传。false否

        swf: '__PUBLIC__/H-ui/lib/webuploader/0.1.5/Uploader.swf',// swf文件路径

        server: "{:U('Admin/Gift/ajax_upload_image')}", // 文件接收服务端。
        formData: {fun: 'upload_slide_image'},

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: {
            multiple: false,
            id: '#imagePicker'
        },

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png,image/gif,image/bmp'
        },
        fileSizeLimit: 1 * 1024 * 1024,
    });
    // 点击上传
    $('#imagePickerUploadBtn').click(function () {
        uploader_1.upload();
    });
    uploader_1.on('error', function (error) {
        if (error == 'Q_EXCEED_SIZE_LIMIT') {
            layer.alert('文件大小超过1M，不允许上传', {
                skin: 'layui-layer-lan',
                closeBtn: 0,
                anim: 4 //动画类型
            });
        }
        if (error == 'Q_TYPE_DENIED') {
            layer.alert('文件类型错误', {
                skin: 'layui-layer-lan',
                closeBtn: 0,
                anim: 4 //动画类型
            });
        }
    });
    // 当文件被加入队列之前触发
    uploader_1.on('beforeFileQueued', function (file) {
        uploader_1.reset();
        no_upload_image = false;
        is_update_image = true;
    });
    // 当有文件添加进来的时候
    uploader_1.on('fileQueued', function (file) {
        file_id = file.id;
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name + '</div>' +
                '</div>'
            ),
            $img = $li.find('img');
        // $list为容器jQuery实例
        $imageList = $("#imagePicture");
        $imageList.html($li);
        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader_1.makeThumb(file, function (error, src) {
            if (error) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }
            $img.attr('src', src);
        }, imageThumbnailWidth, imageThumbnailHeight);
    });
    // 文件上传过程中创建进度条实时显示。
    uploader_1.on('uploadProgress', function (file, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<p class="progress"><span></span></p>')
                .appendTo($li)
                .find('span');
        }
        $percent.css('width', percentage * 100 + '%');
    });

    uploader_1.on("uploadAccept", function (file, data) {
        if (data.error) { // 通过return false来告诉组件，此文件上传有错。 return false;
            layer.alert(data.info, {
                skin: 'layui-layer-lan',
                closeBtn: 0,
                anim: 4 //动画类型
            });
            return false;
        }
        else {
            is_image_success = true;
            img_url_image[0] = data.url;
        }
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader_1.on('uploadSuccess', function (file) {
        is_image_success = true;
        $('#' + file.id).addClass('upload-state-done');
    });

    // 文件上传失败，显示上传出错。
    uploader_1.on('uploadError', function (file) {
        is_image_success = false;
        var $li = $('#' + file.id),
            $error = $li.find('div.error');
        // 避免重复创建
        if (!$error.length) {
            $error = $('<div class="error"></div>').appendTo($li);
        }

        $error.text('上传失败');
    });
    // 完成上传完了，成功或者失败，先删除进度条。
    uploader_1.on('uploadComplete', function (file) {
        $('#' + file.id).find('.progress').remove();
    });
</script>
</body>
</html>