<include file='Common:meta'/>
<title>礼包管理</title>
</head>
<body>
<nav class="breadcrumb">
    礼包列表<if condition="$listType eq 1">>热门礼包<else/>>新游礼包 </if>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="text-c">
            <form action="{:U('Admin/Gift/set_upon_num')}">
                <input type="text" name="id_or_name" id="id_or_name" placeholder=" 请输入礼包名称或礼包ID进行搜索" style="width:250px" class="input-text" value="{$idOrName}">
                <button name="submit" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont"></i> 搜索</button>
                <button name="reset" id="" class="btn btn-success" type="reset"><i class="Hui-iconfont"></i> 重置</button>
            </form>
        </span>
    </div>
    <form id="form-admin-edit" method="post">
        <table class="table table-border table-bordered table-bg mb-30">
            <thead>
            <tr class="text-c">
                <!--<th><input type="checkbox" id="checkAll">全选</th>-->
                <th>游戏名称</th>
                <th>礼包ID</th>
                <th>礼包名称</th>
                <th>排序</th>
                <th>库总量</th>
                <th>上限数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tbody_data">
            <volist name="giftList" key="i" id="val">
                <php>
                    if(empty($val[limited_count])){
                        $limitedCount = '';
                    }else{
                        $limitedCount = $val[limited_count];
                    }
                    if(empty($val[sync_gift_id])){
                        $giftId = $val[gift_id];
                    }else{
                        $giftId = $val[sync_gift_id];
                    }
                </php>
                <tr class="text-c">
                    <!--<td><input type="checkbox" name="gift_id[]" ></td>-->
                    <td>{$val.app_name}</td>
                    <td>{$val.gift_id}</td>
                    <td>{$val.full_gift_name}</td>
                    <td>
                    <if condition="$listType eq 1">
                        <if condition="$val['pre_hot_sort'] eq 999999999">
                            --
                            <else />
                            {$val.pre_hot_sort}
                        </if>

                    </if>
                    <if condition="$listType eq 2">
                        <if condition="$val['pre_new_sort'] eq 999999999">
                            --
                            <else />
                            {$val.pre_new_sort}
                        </if>
                    </if>
                    </td>
                    <td>
                        <if condition="empty($val[total_num])">
                            0
                            <else />
                            {$val.total_num}
                        </if>

                    </td>
                    <td>
                        <input type="text" name="limited_count[{$giftId}]" value="{$limitedCount}" data-giftId="{$giftId}" id="limited_count_{$giftId}" class="input-text upon_num text-c" style="width: 80px">
                    </td>
                    <td>
                        <a href="javascript:;" class="btn btn-success" onclick="applySingeGift('{$giftId}')"> 编辑</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div id="btn-option-box" class="text-c bg-1" style="position: fixed;bottom: 0;width:100%;padding: 9px;">
            <button name="submit" id="submit" class="btn btn-success" type="submit"> 全部更新</button>
            <a href="javascript:;" id="cancel" class="btn btn-success" > 取消</a>
        </div>
    </form>
</div>
<include file='Common:footer' />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery.ui/jquery-ui.min.js"></script>
<script type="text/javascript">
    //列表类型 1热门礼包，2新游礼包
    var listType = "{$listType}";
    //填写的上限数量是否允许提交
    var isAllowSubmit = false;
    
    //生成列表操作
    function generate_list() {
        layer.confirm('确定要更新前台的列表展示吗？', function (index) {
            //此处请求后台程序，下方是成功后的前台处理……
            $.post("{:U('Admin/Gift/ajax_generate_list')}", {}, function (result) {
                if (!result.error) {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
                else {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
            });
        });
    }


    /**
     * 填写上限数量
     */
    $('.upon_num').blur(function(){
        var giftId = $(this).data('giftid');
        var uponNum = $(this).val();

        if(!checkInputValue(giftId, uponNum)) {
            $(this).addClass('Huialert-danger');
            $(this).focus();
            return isAllowSubmit = false;
        }else{
            $(this).removeClass('Huialert-danger');
            return isAllowSubmit = true;
        }

    });

    /**
     * 单个礼包申请上限数量
     */
    function applySingeGift(giftId) {
        //获取input的值
        var input = $('#limited_count_'+giftId);
        var uponNum = input.val();
        //判断上限数量与库数量是否符合要求
        if(!checkInputValue(giftId, uponNum)) {
            input.addClass('Huialert-danger');
            input.focus();
            return isAllowSubmit = false;
        }else{
            input.removeClass('Huialert-danger');
            //执行表单提交
            $.post("{:U('Admin/Gift/set_single_upon_num')}", {giftId:giftId, uponNum:uponNum}, function (result) {
                if (!result.error) {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
                else {
                    layer.alert(result.detail, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    }, function (index, layero) {
                        //按钮【按钮一】的回调
                        window.location.reload();
                    });
                }
            });
            return isAllowSubmit = true;
        }

    }

    /**
     * 验证填写的上线数量是否符合要求
     * @param giftId 礼包id
     * @param uponNum 设置的上限数量
     */
    function checkInputValue(giftId, uponNum) {
        var isValid = false;
        $.ajax({
            type: "post",
            url: "{:U('Admin/Gift/ajax_check_upon_num')}",
            data: {giftId:giftId, uponNum:uponNum},
            dataType: "json",
            async:false,
            success: function (data) {
                if (data.error) {
                    isValid = false;
                }else{
                    isValid = true;
                }
            },
            error: function (msg) {
                if(!(msg.readyState == 4 && msg.status == 200)){
                    layer.alert(msg.statusText, {
                        skin: 'layui-layer-lan',
                        closeBtn: 0,
                        anim: 4, //动画类型
                        title: '提示',
                    });
                    isValid = false;
                }
            }
        });
        return isValid;
    }

    //点击取消按钮关闭小窗口
    $("#cancel").click(function(){
        window.parent.location.reload();
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });

    //点击全部更新按钮
    $("#form-admin-edit").validate({
        rules: {},
        onkeyup: false,
        focusCleanup: true,
        success: "valid",
        submitHandler: function (form) {
            $('.upon_num').each(function (index, elem) {
                var giftId = $(elem).data('giftid');
                var uponNum = $(elem).val();

                if (!(uponNum === 0 || uponNum === '0' || uponNum === '' || typeof (uponNum) === 'undefined')) {
                    if (!checkInputValue(giftId, uponNum)) {
                        $(this).addClass('Huialert-danger');
                        $(this).focus();
                        return isAllowSubmit = false;
                    } else {
                        $(this).removeClass('Huialert-danger');
                        return isAllowSubmit = true;
                    }
                }
            });

            if(isAllowSubmit){
                $(form).find(":submit").attr("disabled", true).attr("value", "提交中...");
                $(form).ajaxSubmit({
                    type: "post",  //提交方式
                    dataType: "json", //数据类型
                    data: {},
                    url: "{:U('Admin/Gift/set_multi_upon_num')}", //请求url
                    success: function (data) { //提交成功的回调函数
                        if (data.error) {
                            $(form).find(":submit").attr("disabled", false).attr("value", "提交");
                        }
                        layer.alert(data.detail, {
                            skin: 'layui-layer-lan',
                            closeBtn: 0,
                            anim: 4 //动画类型
                        });
                        //layer.msg(data.info, {icon: 6,time:2000});
                        if (!data.error) {
                            window.parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }

                    }
                });
            }

        }
    });
</script>
</body>
</html>